.container{
    width: 100%; height: 100%;
    background-color: var(--bg-color-3);
    display: flex;
    flex-direction: column;

    .head{
        height: 40px;
        width: 100%;
        display: flex;
        flex-direction: row;
        column-gap: 2px;
        flex-wrap: nowrap;
        justify-content: center;
        align-items: center;

        .tab{
            background-color: var(--color-1);
            color: var(--bg-color-1);
            flex: 1; height: 100%;
            display: flex; align-items: center; justify-content: center;
            cursor: pointer;
            position: relative;
            transition: all .3s linear;

            &::after{
                content: '';
                width: 100%;
                height: 3px;
                position: absolute;
                top: 0; left: 0; background-color: var(--color-2);
                transform: scaleX(0);
                box-shadow: 0px 3px 5px var(--color-2);
                transform-origin: left;
            }

            &:not(.displayed-tab):hover{
                background-color: var(--color-1-light);
            }

            
        }

        .displayed-tab{
            color: var(--color-1);
            background: transparent !important;
            font-weight: bolder;

            &::after{
                transform: scaleX(1);
                transition: all .3s linear;
            }
        }
    }
}