<div class="wave-container">
    <svg class="wave wave1" viewBox="0 0 1440 320" preserveAspectRatio="none">
        <path fill="#4449" d="M0,160 C360,240 1080,80 1440,160 L1440,320 L0,320 Z"></path>
    </svg>
    <svg class="wave wave2" viewBox="0 0 1440 320" preserveAspectRatio="none">
        <path fill="#333c" d="M0,200 C360,100 1080,300 1440,200 L1440,320 L0,320 Z"></path>
    </svg>
    <svg class="wave wave3" viewBox="0 0 1440 320" preserveAspectRatio="none">
        <path fill="#222" d="M0,240 C360,300 1080,100 1440,240 L1440,320 L0,320 Z"></path>
    </svg>
</div>
<div class="apps" #desktop (contextmenu)="onRightClick($event)">
    <div *ngFor="let column of arrayOfSize(gridColumns)" class="column">
        <div *ngFor="let row of arrayOfSize(gridRows)" 
                class="row"
                (dragover)="onDragOver($event)"
                (drop)="onDrop($event, row, column)">

            
            <app-app-tile *ngIf="getApplication(applicationsMatrix[row][column]) as app"
                (dragstart)="onDragStart(app.id, row, column)"
                [app_id]="app.id"
                [app_name]="app.name"
                [app_ext]="app.extension"
                [app_icon]="app.icon"
                [can_delete]="app.canDelete"
                [openWithId]="openItem"
                [deleteWithId]="deleteWithId"
                [setDraggedId]="setDraggedId"
                [editAppName]="editAppName"
                 />
            
        </div>
    </div>
</div>

<app-applications
    [openedAplications]="stacksMap"
    [removeOpenInstance]="removeItem"
    [putOpenInstanceFront]="putInstanceFront"
    [deletedItems]="deletedItems"
    [restoreApp]="restoreApp"
    [open]="openItem"
    [deleteDraggedItem]="deleteDraggedItem"
    [contentTreeStructure]="contentTreeStructure"
    [openedFolders]="openedFolders"
    [experience]="experience"
    [script]="script"
    [setDraggedId]="setDraggedId"
    [setDragSource]="setDragSource"
    [setDragDestination]="setDragDestination"
    [moveContentInTree]="moveContentInTree"
    [projectsObjRef]="projectsObjRef"
/>

<app-active-items-panel
    [stacksMap]="stacksMap" 
    [removeItem]="removeItem"
    [putInstanceFront]="putInstanceFront"
    [focusOnWindow]="focusOnWindow"
    [removeFocusOnWindow]="removeFocusOnWindow"
    [hideRevealItem]="hideRevealItem"
/>


<app-notification class="notification"
    [notifications]="notifications"/>


<app-context-menu/>