.wave-container {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    z-index: -1;
    background-color: var(--color-2);

    .date{
        position: absolute;
        top: 100%; left: 100%; transform: translate(0px, calc( -100% - 30px)) rotate(-90deg);
        z-index: 4;
        font-weight: bolder;
        font-size: 1.2em;
        display: flex;
        flex-direction: row;
        column-gap: 1em;
        min-width: max-content;
        color: var(--color-2);
        transform-origin: bottom left;

        .day{
            position: relative;

            &>span{
                font-size: .6em;
                position: absolute;
                top: 0; right: 0; transform: translateX(100%);
            }
        }
    }
  
    .wave {
        position: absolute;
        bottom: 0;
        
        width: 200%;
    }

    .wave1 {
        animation: moveWave1 8s ease-in-out infinite alternate;
        z-index: 1;
        height: 150%;
        filter: drop-shadow(0 -5px 10px rgba(20, 20, 20, 0.432)) blur(5px);
    }

    .wave2 {
        animation: moveWave2 6s ease-in-out infinite alternate;
        z-index: 2;
        left: -100%;
        height: 140%;
        filter: drop-shadow(0 -5px 10px rgba(20, 20, 20, 0.3)) blur(2px);
    }

    .wave3 {
        animation: moveWave3 4s ease-in-out infinite alternate;
        z-index: 3;
        height: 130%;
        filter: drop-shadow(0 -5px 10px rgba(20, 20, 20, 0.3));
    }
}



@keyframes moveWave1 {
    100%{
        transform: translateX(-30%);
    }
}

@keyframes moveWave2 {
    100%{
        transform: translateX(30%);
    }
}

@keyframes moveWave3 {
    100%{
        transform: translateX(-20%);
    }
}


.apps{
    padding: 10px;
    position: absolute;
    top: 0; left: 0;
    width: 100%; height: calc( 100% - 30px);

    display: flex;
    flex-direction: row;
    column-gap: 3px;

    .column{
        display: flex;
        flex-direction: column;
        row-gap: 3px;
        width: 10%;
        height: 100%;

        .row{
            width: 100%;
            height: 10%;

            .app-wrapper{
                display: inline-block;
                width: 100%; height: 100%;
                position: relative;
                

                .icon{
                    z-index: -1;
                    position: absolute; top: 10px; left: 50%; transform: translateX(-50%);
                    width: 50%; height: 50%;
                    filter: drop-shadow(4px 4px 2px black);
                }

                .name{
                    position: absolute; bottom: 5px; left: 50%; transform: translateX(-50%);
                    width: max-content;
                    max-width: 100%;
                    text-align: center;
                    font-size: .9em;
                    text-shadow: 4px 4px 2px black;
                    color: var(--color-1);
                }
            }

            .focused{
                background-color: var(--color-focused-app);
                box-shadow: inset 0 0 4px var(--color-1);
            }

            .not-focused{
                &:hover{
                    background-color: var(--color-1-light);
                }
            }
        }

    }
}