<div class="wave-container">
    <svg class="wave wave1" viewBox="0 0 1440 320" preserveAspectRatio="none">
        <path fill="#4449" d="M0,160 C360,240 1080,80 1440,160 L1440,320 L0,320 Z"></path>
    </svg>
    <svg class="wave wave2" viewBox="0 0 1440 320" preserveAspectRatio="none">
        <path fill="#333c" d="M0,200 C360,100 1080,300 1440,200 L1440,320 L0,320 Z"></path>
    </svg>
    <svg class="wave wave3" viewBox="0 0 1440 320" preserveAspectRatio="none">
        <path fill="#222" d="M0,240 C360,300 1080,100 1440,240 L1440,320 L0,320 Z"></path>
    </svg>
    <div class="date">
        <div class="day">{{day}}<span>{{ 
                                        day==11 || day==12 || day==13 ? 
                                        "th" 
                                        : day%10==1 ? 
                                            "st" 
                                            : day%10==2 ? 
                                                "nd" 
                                                : day%10 == 3 ?
                                                    "rd" 
                                                    : "th" 
                                        }}</span>
            </div>
        <div class="week-day">{{weekDay}}</div>
    </div>
</div>
<div class="apps" #desktop>
    <div *ngFor="let column of arrayOfSize(gridColumns)" class="column">
        <div *ngFor="let row of arrayOfSize(gridRows)" 
                class="row"
                (click)="appFocus(column + row*gridColumns)"
                (dblclick)="open(column + row*gridColumns)"
                (dragover)="onDragOver($event, row, column)"
                (drop)="onDrop($event, column + row*gridColumns)">
            <span *ngIf="applicationsMatrix.get(column + row*gridColumns) as app" 
                    class="app-wrapper" 
                    draggable="true"
                    (dragstart)="onDragStart($event, column + row*gridColumns)"
                    title="{{app.name}}{{app.type === AppType.File ? '.txt' : ''}}"
                    [ngClass]="{'focused' : app?.focused, 'not-focused' : !app?.focused}">
                <img src="{{app?.icon}}" alt="" class="icon">
                <p class="name">{{app?.name}}</p>
            </span>
            
        </div>
    </div>
</div>

<app-applications
    [openedAplications]="stacksMap"
    [removeOpenInstance]="removeItem"
    [putOpenInstanceFront]="putInstanceFront"
    [deletedApps]="deletedApps"
    [restoreApp]="restoreApp"
    [open]="openItem"
    [desktopFolders]="desktopFolders"
    [deleteDraggedItem]="deleteDraggedItem"
/>

<app-active-items-panel
    [stacksMap]="stacksMap" 
    [removeItem]="removeItem"
    [putInstanceFront]="putInstanceFront"
    [focusOnWindow]="focusOnWindow"
    [removeFocusOnWindow]="removeFocusOnWindow"
    [hideRevealItem]="hideRevealItem"
/>


<app-notification class="notification"
    [notifications]="notifications"/>