<div class="wave-container">
    <svg class="wave wave1" viewBox="0 0 1440 320" preserveAspectRatio="none">
        <path fill="#444" d="M0,160 C360,240 1080,80 1440,160 L1440,320 L0,320 Z"></path>
    </svg>
    <svg class="wave wave2" viewBox="0 0 1440 320" preserveAspectRatio="none">
        <path fill="#333" d="M0,200 C360,100 1080,300 1440,200 L1440,320 L0,320 Z"></path>
    </svg>
    <svg class="wave wave3" viewBox="0 0 1440 320" preserveAspectRatio="none">
        <path fill="#222" d="M0,240 C360,300 1080,100 1440,240 L1440,320 L0,320 Z"></path>
    </svg>
</div>
<div class="apps">
    <div *ngFor="let column of arrayOfSize(gridColumns)" class="column">
        <div *ngFor="let row of arrayOfSize(gridRows)" class="row" (click)="appFocus(column + row*gridColumns)">
            <span *ngIf="applicationsMatrix.get(column + row*gridColumns)" class="app-wrapper" [ngClass]="{'focused' : applicationsMatrix.get(column + row*gridColumns)?.focused, 'not-focused' : !applicationsMatrix.get(column + row*gridColumns)?.focused}">
                <img src="{{applicationsMatrix.get(column + row*gridColumns)?.icon}}" alt="" class="icon">
                <p class="name">{{applicationsMatrix.get(column + row*gridColumns)?.name}}</p>
            </span>
            
        </div>
    </div>
</div>

<!--<app-folder
    [name]="'Projects'"
    [iconLogo]="'./folder.png'"
    [positionX]="250"
    [positionY]="150"
    />-->

<app-active-items-panel [stacksList]="stacksList"></app-active-items-panel>