.container{
    width: 100%;
    height: max-content;
    display: flex; flex-direction: column; row-gap: 10px;

    .notif-content{
        width: 100%;
        height: 50px;
        display: flex;
        align-items: center;
        color: var(--color-1);
        border-radius: 20px;
        padding: 10px;
        opacity: .5;
        font-weight: bolder;
        border: 1px solid var(--color-1);
    }
}