.container{
    width: 100%;
    height: max-content;
    display: flex; flex-direction: column-reverse; row-gap: 10px;

    .notif-content{
        width: 100%;
        height: max-content;
        display: flex;
        align-items: center;
        color: var(--c); background-color: var(--color-1);
        opacity: 0;
        padding: 10px;
        font-weight: bolder;
        animation: up .3s linear forwards, down .5s 2s linear forwards;
        position: relative;

        &::before{
            content: attr(symbol);
            position: absolute; top: 0; left: 0; height: 100%; aspect-ratio: 1 / 1;
            transform: translateX(-100%);
            background-color: var(--c);
            display: flex; justify-content: center; align-items: center; font-size: 2em;
            color: var(--color-1);
        }
    }
}

@keyframes up {
    from{
        opacity: 0;
        transform: translateY(10px);
    } to {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes down {
    from{
        opacity: .5;
        transform: translateY(0);
    } to {
        opacity: 0;
        transform: translateY(10px);
    }
}