.container{
    position: absolute;
    border-radius: 10px; border: 1px solid var(--color-1);
    overflow: hidden;
    transition: all .3s linear;

    .project-title{
        width: 100%;
        color: var(--color-2);
        border-bottom: 2px solid var(--color-1);
        letter-spacing: 1px;
        transition: all .2s linear;
    }

    .project-description{
        width: 90%;
        transform: translateY(90%) translateX(6%);
        color: var(--color-1);
        font-weight: bolder;
    }

    .project-title, .project-description{
        transform-origin: left top;
    }

    &:not(.carousel):hover{
        background: linear-gradient(45deg, var(--color-2-light) 20%, transparent 30%, transparent 70%, var(--color-2-light) 80%);
        box-shadow: 0 20px 10px 5px var(--bg-color-1);
        transform: rotate3d(1, 0, 0, 20deg) scaleY(1.05);
        .project-title {
            text-shadow: 0 0 10px var(--color-2);
        }

        
    }
    
    &:not(.carousel)::after{
        content: '';
        opacity: .1;
        position: absolute; top: 0; left: 0; width: 100%; height: 100%; transform: translateY(-100%);
        background: linear-gradient(transparent 30%, var(--color-1) 50%, transparent 70%);
        animation: translation 2s linear infinite;
    }

}

@keyframes translation {
    100%{
        transform: translateY(100%);
    }
}