.container{
    position: absolute;
    border-radius: 10px; border: 1px solid var(--color-1);
    height: 100%; width: 100%;
    overflow: hidden;
    transition: all .3s linear;
    background-color: var(--bg-color-2);

    .bg{
        position: absolute;
        object-fit: cover;
        z-index: -1;
    }

    .project-title{
        width: 100%; height: 45%;
        color: var(--color-1);
        font-size: 1.3em; padding: 10px;
        border-bottom: 2px solid var(--color-1);
        letter-spacing: 1px;
        background-color: var(--bg-color-2);
        backdrop-filter: blur(5px);
    }

    .project-description{
        width: 100%; height: 55%;
        color: var(--bg-color-1);
        padding: 15px;
        opacity: .7;
        background-color: var(--color-silver);
    }

}