.container{
    position: absolute;
    border-radius: 10px; border: 1px solid var(--color-1);
    background-color: var(--color-1-light);
    overflow: hidden;

    .project-title{
        width: 100%;
        color: var(--color-2);
        background-color: var(--bg-color-2);
        border-bottom: 2px solid var(--color-1);
        letter-spacing: 1px;
    }

    .project-description{
        width: 90%;
        transform: translateY(90%) translateX(6%);
        color: var(--color-1);
        font-weight: bolder;
    }

    .project-title, .project-description{
        transform-origin: left top;
    }

}