.container{
    position: absolute; top: 5%; left: 5%;
    border-radius: 10px; border: 2px solid var(--color-1);
    width: 90%; height: 70%;
    background-color: var(--color-1-light);
    overflow: hidden;

    .project-title{
        width: 100%;
        height: max-content;
        color: var(--color-2);
        background-color: var(--bg-color-2);
        border-bottom: 2px solid var(--color-1);
        letter-spacing: 1px;
        padding: 10px;
    }

    .project-description{
        width: 90%;
        height: max-content;
        transform: translateY(40px) translateX(6%);
        color: var(--color-1);
        font-weight: bolder;
    }

    

}