.container{
    cursor: pointer;
    width: 100%; height: 100%;
    display: flex; flex-direction: column; align-items: center;
    padding-top: 5px;
    border: 2px solid transparent;

    .logo{
        width: 50%;

        .logo-image{
            width: 100%;
        }
    }

    .app-name{
        color: var(--color-1);
        max-width: 95%;
        display: flex; justify-content: center;
        width: max-content;
        text-align: center;
        font-size: .8em;
        flex-grow: 1;
    }
}

.focused{
    background-color: var(--color-1-lighter);
    border: 2px solid var(--color-1-light);
}