.container{
    cursor: pointer;
    width: 100%; height: 100%;
    display: flex; flex-direction: column; align-items: center;
    padding-top: 5px;
    border: 2px solid transparent;
    transition: all .1s linear;
    position: relative;

    &:hover{
        background-color: var(--color-1-light);
    }

    .logo{
        width: 50%;

        .logo-image{
            filter: drop-shadow( 4px 4px 2px var(--bg-color-1));
            width: 100%;
        }
    }

    .app-name{
        text-shadow: 4px 4px 2px var(--bg-color-1);
        color: var(--color-1);
        max-width: 95%;
        display: flex; justify-content: center;
        width: max-content;
        text-align: center;
        font-size: .8em;
        flex-grow: 1;
    }

    .context-menu{
        z-index: 9999999;
        position: absolute;
        width: 150px;
        background-color: var(--bg-color-2);
        display: flex; flex-direction: column;
        color: var(--color-1);

        .action{
            position: relative;
            width: 100%; height: 30px;
            border: 1px solid var(--bg-color-1);
            transition: background-color .1s;
            cursor: pointer;

            &:hover{
                background-color: var(--bg-color-1);
            }

            .action-name{
                height: 100%; padding-left: 5px;
                display: flex; align-items: center;
                
            }

            .icon{
                width: 20px; aspect-ratio: 1 / 1;
                position: absolute; right: 5px; top: 50%; transform: translateY(-50%);
                text-align: center;
                display: flex; justify-content: center; align-items: center;

                img{
                    width: 90%;
                }
            }
        }
    }
}

.focused{
    background-color: var(--color-1-lighter);
    border: 2px solid var(--color-1-light);
}