.container{
    cursor: pointer;
    width: 100%; height: 100%;
    display: flex;
    border: 2px solid transparent;
    transition: all .1s linear;

    &:hover{
        background-color: var(--color-1-light);
    }
}
.focused{
    background-color: var(--color-1-lighter);
    border: 2px solid var(--color-1-light);
}

.type1{
    flex-direction: column; align-items: center;
    padding-top: 5px;

    .logo{
        width: 50%;

        .logo-image{
            filter: drop-shadow( 4px 4px 2px var(--bg-color-1));
            width: 100%;
        }
    }

    .app-name{
        text-shadow: 4px 4px 2px var(--bg-color-1);
        color: var(--color-1);
        width: 95%;
        display: flex; justify-content: center;
        text-align: center;
        font-size: .8em;
    }
}

.type2{
    flex-direction: row; column-gap: 10px; align-items: center;
    padding: 0 5px;

    .logo{
        height: 90%;

        .logo-image{
            height: 100%;
        }
    }

    .name-size{
        flex: 1;

        .app-size{
            width: 100%;
            padding-top: 2px;
            text-align: end;
            font-size: .8em;
            opacity: .7;
        }
    }
}