.container{
    position: absolute; top: 0; left: 0; width: 100%; height: 100%;
    background-color: var(--bg-color-3);
    backdrop-filter: blur(5px);
    
    .control-buttons{
        position: absolute; right: 0; top: 0; height: 10%; width: 40%;
        background-color: var(--color-1);
        display: flex; flex-direction: row;
        justify-content: center; align-items: center;

        .delete-button, .restore-button{
            position: relative;
            cursor: pointer; font-weight: bolder;
            flex: 1;
            height: 100%;
            color: var(--bg-color-1);
            display: flex; justify-content: start; align-items: center; padding-left: 10px;
            border-right: 2px solid var(--color-1);
            transition: all .3s linear, color .1s .2s linear;
            overflow: hidden;
            border-right: 2px solid var(--bg-color-1);
            z-index: 1;

            &:hover{
                color: var(--color-1);

                &::after{
                    transform: translateX(0);
                }

                .icon{
                    opacity: 1;
                    transform: translateX(-3px);
                    filter: invert(100%);
                }
            }

            &::after{
                content: '';
                z-index: -1;
                position: absolute; top: 0; left: 0; width: 100%; height: 100%; background-color: var(--bg-color-1);
                transform: translateX(100%);
                transition: all .3s linear;
            }

            .icon{
                position: absolute; top: 20%; right: 0; height: 60%; transform: translateX(100%);
                transition: all .1s .3s linear;
                opacity: 0;
            }

            &:active{
                opacity: .8;
                scale: .8;
            }
        }
    }
}