<div class="container">
    <div class="control-buttons">
        <div class="restore-button" [ngClass]="{'disabled' : focusedApps === 0}" (click)="restore()">restore<img src="restore-icon.png" class="icon" alt="restore icon"/></div>
        <div class="delete-button" [ngClass]="{'disabled' : focusedApps === 0}" (click)="delete()">delete<img src="delete.png" class="icon" alt="delete icon"/></div>
    </div>
    <div class="deleted-apps">
        <app-app-tile 
            *ngFor="let deletedItem of deletedItems | keyvalue : keepOrder; trackBy: trackByKey" 
            [type]="2"
            [enable_self_focus]="false"
            [app_name]="deletedItem.value.treeNodeRef.name"
            [app_id]="deletedItem.value.treeNodeRef.id"
            [app_icon]="deletedItem.value.treeNodeRef.icon"
            [app_ext]="deletedItem.value.treeNodeRef.extension"
        />
    </div>
</div>