.container{
    position: absolute; top: 0; left: 0; width: 100%; height: 100%;
    background-color: var(--bg-color-3);
    backdrop-filter: blur(5px);
    
    .control-buttons{
        position: absolute; right: 0; top: 0; height: 10%; width: 40%;
        background-color: var(--color-1);
        display: flex; flex-direction: row;
        justify-content: center; align-items: center;

        .delete-button, .restore-button{
            position: relative;
            cursor: pointer; font-weight: bolder;
            flex: 1;
            height: 100%;
            color: var(--bg-color-1);
            display: flex; justify-content: start; align-items: center; padding-left: 10px;
            border-right: 2px solid var(--color-1);
            transition: all .2s linear, color .1s .1s linear;
            overflow: hidden;
            border-right: 2px solid var(--bg-color-1);
            z-index: 1;

            &:hover:not(.disabled){
                color: var(--color-1);

                &::after{
                    transform: translateX(0);
                }

                .icon{
                    opacity: 1;
                    transform: translateX(-3px);
                    filter: invert(100%);
                }
            }

            &::after{
                content: '';
                z-index: -1;
                position: absolute; top: 0; left: 0; width: 100%; height: 100%; background-color: var(--bg-color-1);
                transform: translateX(100%);
                transition: all .2s linear;
            }

            .icon{
                position: absolute; top: 20%; right: 0; height: 60%; transform: translateX(100%);
                transition: all .1s .2s linear;
                opacity: 0;
            }

            &:active:not(.disabled){
                opacity: .8;
                scale: .8;
            }
        }

        .disabled{
            cursor:not-allowed;
            opacity: .3;
        }
    }

    .deleted-apps{
        position: absolute; top: 10%; height: 90%; left: 0; width: 100%; padding: 20px;
        display: flex; flex-direction: row; flex-wrap: wrap; row-gap: 10px; column-gap: 10px;
        justify-content: start; align-content: start;

        .deleted-app{
            cursor: pointer;
            padding: 5px;
            width: 23%;
            height: 60px;
            display: flex; flex-direction: row;
            border: 2px solid var(--color-1-light);
            transition: all .1s linear;
            position: relative;

            &:hover{
                background-color: var(--color-1-light) !important;
            }

            .app-button{
                position: absolute;
                border-radius: 20px;
                transition: scale .1s linear;
                display: flex; justify-content: center; align-items: center;
                right: 0;
                width: 25px; aspect-ratio: 1 / 1;
                scale: 0;

                .icon{
                    width: 60%;
                    filter: invert(80%);
                    opacity: .7;
                }

                &:hover{
                    scale: 1.2 !important;
                }
            }

            .app-delete-button{
                top: 0;
                transform: translate(50%, -50%);
                background-color: var(--color-red);
            }

            .app-restore-button{
                bottom: 0;
                transform: translate(50%, 50%);
                background-color: var(--color-green);
            }

            &:hover:not(.focused){
                background: none;
                corner-top-right-shape: scoop;
                border-top-right-radius: 20px;

                corner-bottom-right-shape: scoop;
                border-bottom-right-radius: 20px;

                &:not(.focused) .app-button{
                    scale: 1;
                }
            }

            .app-icon{
                height: 100%; aspect-ratio: 1 / 1;
                position: relative;

                img{
                    position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%);
                    width: 90%;
                }
            }

            .app-info{
                height: 100%; flex: 1;
                overflow: hidden;

                .app-title{
                    width: 100%; text-align: start;
                    font-size: 1.1em;
                    white-space: nowrap;
                    text-overflow: ellipsis;
                    overflow: hidden;
                }

                .app-size{
                    padding-top: 5px;
                    padding-left: 10px;
                    font-size: smaller;
                    opacity: .7;
                }
            }
        }

        .focused{
            background-color: var(--color-1-light) !important;
            border: 1px solid var(--color-1-light);
            transform: scale(.9);
        }
    }
}