<ng-container *ngFor="let appInstances of openedAplications | keyvalue : keepOrder; trackBy: trackByKey">
    <ng-container *ngFor="let instance of appInstances.value; trackBy: trackById">
        <ng-container [ngSwitch]="appInstances.key">

            <ng-container *ngSwitchCase="'BloDest'">
                <app-window [openInstance]="instance" [instanceType]="appInstances.key" [putFront]="putOpenInstanceFront" [removeOpenInstance]="removeOpenInstance">
                    <app-blodest class="application-body"/>
                </app-window>
            </ng-container>
            
            <ng-container *ngSwitchCase="'CMD'">
                <app-window [openInstance]="instance" [instanceType]="appInstances.key" [putFront]="putOpenInstanceFront" [removeOpenInstance]="removeOpenInstance">
                    <app-cmd class="application-body" [exit]="removeOpenInstance" [key1]="'CMD'" [key2]="instance.id" />
                </app-window>
            </ng-container>

            <ng-container *ngSwitchCase="AppType.Folder.toString()">
                <app-window [openInstance]="instance" [instanceType]="appInstances.key" [putFront]="putOpenInstanceFront" [removeOpenInstance]="removeOpenInstance">
                    <app-folder [folder]="instance" class="application-body"/>
                </app-window>
            </ng-container>

            <ng-container *ngSwitchCase="'Dr. Trash'">
                <app-window [openInstance]="instance" [instanceType]="appInstances.key" [putFront]="putOpenInstanceFront" [removeOpenInstance]="removeOpenInstance">
                    <app-trash class="application-body" [deletedApps]="deletedApps"/>
                </app-window>
            </ng-container>

            <ng-container *ngSwitchCase="'WhoAmI'">
                <app-window [openInstance]="instance" [instanceType]="appInstances.key" [putFront]="putOpenInstanceFront" [removeOpenInstance]="removeOpenInstance">
                    <app-whoami class="application-body"/>
                </app-window>
            </ng-container>
            
        </ng-container>
    </ng-container>
</ng-container>