<ng-container *ngFor="let appInstances of openedAplications | keyvalue : keepOrder; trackBy: trackByKey">
    <ng-container *ngFor="let instance of appInstances.value; trackBy: trackById">
        <ng-container [ngSwitch]="appInstances.key">

            <ng-container *ngSwitchCase="'BloDest'">
                <app-window [openInstance]="instance" [instanceType]="appInstances.key" [putFront]="putOpenInstanceFront" [removeOpenInstance]="removeOpenInstance">
                    <app-blodest class="application-body"/>
                </app-window>
            </ng-container>

            <ng-container *ngSwitchCase="'CMD'">
                <app-window [openInstance]="instance" [instanceType]="appInstances.key" [putFront]="putOpenInstanceFront" [removeOpenInstance]="removeOpenInstance">
                    <app-cmd class="application-body" [exit]="removeOpenInstance" [key1]="'CMD'" [key2]="instance.id" />
                </app-window>
            </ng-container>

            <ng-container *ngSwitchCase="AppType.Folder.toString()">
                <app-window [openInstance]="{id : instance.id, 
                                            name : instance.name,
                                            hidden : instance.hidden,
                                            positionX : instance.positionX,
                                            positionY : instance.positionY,
                                            positionZ : instance.positionZ,
                                            windowWidth : instance.windowWidth,
                                            windowHeight : instance.windowHeight,
                                            resizeable : instance.resizeable,
                                            focusedOn : instance.focusedOn,
                                            icon : openedFolders.get(instance.id)?.icon || instance.icon}" [instanceType]="appInstances.key" [putFront]="putOpenInstanceFront" [removeOpenInstance]="removeOpenInstance">
                    <app-folder [openedFolder]="openedFolders.get(instance.id)" [folder]="instance" class="application-body" [open]="open" [dragOver]="dragOver" [dropToMove]="dropToMove" [folderContentStructure]="folderContentStructure" [switchingToFolder]="switchingToFolder"/>
                </app-window>
            </ng-container>

            <ng-container *ngSwitchCase="'bin'">
                <app-window [openInstance]="instance" [instanceType]="appInstances.key" [putFront]="putOpenInstanceFront" [removeOpenInstance]="removeOpenInstance">
                    <app-trash class="application-body" [deletedApps]="deletedApps" [restoreApp]="restoreApp" (dragover)="dragOver($event)" (drop)="dropToDelete($event)"/>
                </app-window>
            </ng-container>

            <ng-container *ngSwitchCase="'WhoAmI'">
                <app-window [openInstance]="instance" [instanceType]="appInstances.key" [putFront]="putOpenInstanceFront" [removeOpenInstance]="removeOpenInstance">
                    <app-whoami class="application-body"/>
                </app-window>
            </ng-container>

            <ng-container *ngSwitchCase="AppType.File.toString()">
                <app-window [openInstance]="instance" [instanceType]="appInstances.key" [putFront]="putOpenInstanceFront" [removeOpenInstance]="removeOpenInstance">
                    <app-file-reader class="application-body" [company]="instance.name" />
                </app-window>
            </ng-container>
            
        </ng-container>
    </ng-container>
</ng-container>