.container{
    width: 100%; height: 100%;
    background-color: var(--bg-color-2);
    backdrop-filter: blur(5px);

    .start-button-underlay{
        position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%);
        width: 30%; height: 50px;
        background-color: var(--color-1);
        border-radius: 10px;
        overflow: hidden;

        .start-button{
            cursor: pointer;
            position: absolute; left: 0;top: -200%; width: 100%; min-height: 300%;
            padding-top: 10px;
            font-weight: bolder;
            font-size: 2em;
            display: flex; align-items: end; justify-content: center;
            background: linear-gradient(var(--color-green), transparent);
            color: var(--color-green);
            transition: all 0.3s ease;
            

            &:hover{
                color: var(--color-1);
                top: 0;
                align-items: start;
            }
        }
    }

    .body{
        width: 100%; height: 100%;

        .score-screen{
            width: 100%; height: 70px;
            border-top: 1px solid var(--color-1);
            border-bottom: 1px solid var(--color-1);
            background-color: #000;
            background-image: repeating-linear-gradient(
                to bottom,
                rgba(0, 255, 0, 0.1) 0px,
                rgba(0, 255, 0, 0.1) 1px,
                transparent 1px,
                transparent 3px
                ),
                repeating-linear-gradient(
                to left,
                rgba(0, 255, 0, 0.1) 0px,
                rgba(0, 255, 0, 0.1) 1px,
                transparent 1px,
                transparent 3px
                );
            background-size: 100% 4px;

            .score{
                height: 100%; width: 70%; border-right: 1px solid var(--color-1);
                display: flex;
                flex-direction: column;
                row-gap: 10px;
                justify-content: center;
                padding-left: 10px;
                color: var(--color-green); text-shadow: 0 0 2px var(--color-green);
                font-weight: bolder;

                .current-score, .max-score{
                    position: relative;
                    width: 100%;

                    .score-amount{
                        position: absolute;
                        right: 10px;
                    }
                }
            }
        }

        .game-screen{
            position: relative;
            width: 100%; height: calc( 100% - 70px );

            .blocks{
                position: absolute; top: 10px; left: 0; width: 100%; height: max-content;
                display: flex;
                flex-direction: column;
                row-gap: 3px;

                span{
                    width: 100%;
                    height: max-content;
                    display: flex;
                    flex-direction: row;
                    flex-wrap: wrap;
                    row-gap: 3px; column-gap: 3px;
                    align-items: center; justify-content: center;
                    
                    
                    .block{
                        height: 40px;
                        background-color: var(--color-1-light);
                        border: 1px solid var(--color-1);
                        box-shadow: 0 0 4px var(--color-1);
                    }
                }

                
            }

            .ball{
                position: absolute;
                width: 30px; height: 30px;
                border-radius: 100%;
                background-color: var(--color-blue);
                box-shadow: 5px 5px 5px var(--bg-color-1);
                border: 2px solid var(--color-1-light);
                transition-property: transform;
                transition-timing-function: linear;

                &::after{
                    content: '';
                    position: absolute; top: 15%; left: 15%; width: 40%; height: 40%; border-radius: 100%;
                    background-color: var(--color-1);
                    opacity: .2;
                }
            }

            .playing-bar{
                position: absolute; bottom: 0; left: 0;
                width: 20%; height: 5px;
                border-radius: 10px;
                background-color: var(--color-blue);
                box-shadow: 0px -5px 20px var(--color-blue);
                transition: transform .2s ease;
            }
        }

        .game-over{
            position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%);
            width: 50%; height: 30%;
            background-color: #000;
            background-image: repeating-linear-gradient(
                to bottom,
                rgba(0, 255, 0, 0.1) 0px,
                rgba(0, 255, 0, 0.1) 1px,
                transparent 1px,
                transparent 3px
                ),
                repeating-linear-gradient(
                to left,
                rgba(0, 255, 0, 0.1) 0px,
                rgba(0, 255, 0, 0.1) 1px,
                transparent 1px,
                transparent 3px
                );
            background-size: 100% 4px;
            color: var(--color-green);
            font-weight: bolder;
            border-radius: 10px;
            border: 3px solid var(--color-green);
            box-shadow: 0 0 4px var(--color-green), inset 0 0 6px var(--color-green);
            display: flex;
            flex-direction: column;
            justify-content: center;
            row-gap: 15px;

            animation: flactuationsScreen 4s infinite;

            &::after{
                content: '';
                opacity: 0.2;
                position: absolute; left: 0; top: 0;
                width: 100%; height: 100%;
                background-image: url("/broken-glass.png");
                background-size: 100% 100%;
                background-repeat: no-repeat;
            }

            .head{
                font-size: 2em;
                width: 100%;
                text-align: center;
                text-shadow: 0 0 6px var(--color-green);
                animation: flactuationsText 4s infinite;
            }

            .xp-earned{
                width: 100%;
                text-align: center;
                text-shadow: 0 0 6px var(--color-green);
                animation: flactuationsText 4s infinite;

                .xp-earned-value{
                    color: var(--color-red);
                    font-weight: bolder; font-size: 1.5em;
                    text-shadow: 0 0 6px var(--color-red);
                    animation: flactuationsText2 4s infinite;
                }
            }
        }
    }
}

@keyframes flactuationsScreen {
    10%{
        border-color: var(--bg-color-1);
        box-shadow: 0 0 4px var(--color-green), inset 0 0 6px var(--color-green);
    } 40% {
        border-color: var(--bg-color-1);
        box-shadow: 0 0 10px var(--color-green), inset 0 0 6px var(--color-green);
    } 60%, 70%, 90% {
        border-color: var(--bg-color-1);
        box-shadow: unset;
    } 9%, 11%, 38%, 42%, 58%, 62%, 68%, 72%, 88%, 92% {
        border: 3px solid var(--color-green);
        box-shadow: 0 0 4px var(--color-green), inset 0 0 6px var(--color-green);
    }
}

@keyframes flactuationsText {
    10%{
        opacity: 0;
        text-shadow: 0 0 4px var(--color-green);
    } 40% {
        opacity: 0.7;
        text-shadow: 0 0 10px var(--color-green);
    } 60%, 70%, 90% {
        opacity: 0;
        text-shadow: unset;
    } 9%, 11%, 38%, 42%, 58%, 62%, 68%, 72%, 88%, 92% {
        opacity: 1;
        text-shadow: 0 0 4px var(--color-green);
    }
}

@keyframes flactuationsText2 {
    10%{
        opacity: 0;
        text-shadow: 0 0 4px var(--color-red);
    } 40% {
        opacity: 0.7;
        text-shadow: 0 0 10px var(--color-red);
    } 60%, 70%, 90% {
        opacity: 0;
        text-shadow: unset;
    } 9%, 11%, 38%, 42%, 58%, 62%, 68%, 72%, 88%, 92% {
        opacity: 1;
        text-shadow: 0 0 4px var(--color-red);
    }
}