<div class="container">
    <div class="background" *ngIf="!gameStarted">
        <div class="row">
            <div class="el" style="background-color: var(--bg-color-1);"></div>
            <div class="el" style="background-color: var(--bg-color-1);"></div>
            <div class="el" style="background-color: var(--bg-color-1);"></div>
            <div class="el" style="background-color: var(--bg-color-1);"></div>
            <div class="el" style="background-color: var(--bg-color-1);"></div>
            <div class="el" style="background-color: var(--bg-color-1);"></div>
        </div>
        <div class="row">
            <div class="el" style="background-color: var(--color-red);"></div>
            <div class="el" style="background-color: var(--color-red);"></div>
            <div class="el" style="background-color: var(--color-red);"></div>
            <div class="el" style="background-color: var(--color-red);"></div>
            <div class="el" style="background-color: var(--color-red);"></div>
            <div class="el" style="background-color: var(--color-red);"></div>
        </div>
        <div class="row">
            <div class="el" style="background-color: var(--bg-color-1);"></div>
            <div class="el" style="background-color: var(--bg-color-1);"></div>
            <div class="el" style="background-color: var(--bg-color-1);"></div>
            <div class="el" style="background-color: var(--bg-color-1);"></div>
            <div class="el" style="background-color: var(--bg-color-1);"></div>
            <div class="el" style="background-color: var(--bg-color-1);"></div>
        </div>
        <div class="row">
            <div class="el" style="background-color: var(--color-red);"></div>
            <div class="el" style="background-color: var(--color-red);"></div>
            <div class="el" style="background-color: var(--color-red);"></div>
            <div class="el" style="background-color: var(--color-red);"></div>
            <div class="el" style="background-color: var(--color-red);"></div>
            <div class="el" style="background-color: var(--color-red);"></div>
        </div>
        <div class="row">
            <div class="el" style="background-color: var(--bg-color-1);"></div>
            <div class="el" style="background-color: var(--bg-color-1);"></div>
            <div class="el" style="background-color: var(--bg-color-1);"></div>
            <div class="el" style="background-color: var(--bg-color-1);"></div>
            <div class="el" style="background-color: var(--bg-color-1);"></div>
            <div class="el" style="background-color: var(--bg-color-1);"></div>
        </div>
    </div>
    <span *ngIf="!gameStarted && !loadingGame" class="start-button-underlay">
        <div class="start-button" (click)="startGame()">START</div>
    </span>
    <div class="game-loading" *ngIf="loadingGame">
        <div class="percentage" *ngFor="let l of loading" [ngStyle]="{'background-color' : l ? 'var(--bg-color-1)' : 'transparent'}"></div>
    </div>
    <div class="body" *ngIf="gameStarted">
        <div class="score-screen">
            <div class="score">
                <div class="current-score">Current Score : <span class="score-amount">{{currentScore}} xp</span></div>
                <div class="max-score">Max Score&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;: <span class="score-amount">{{maxScore}} xp</span></div>
            </div>
            <div class="block-score">
                <div *ngFor="let blockScoreRow of blockScoreMatrix" class="row">
                    <div class="cell" *ngFor="let blockScoreCell of blockScoreRow" [ngStyle]="{'background-color' : blockScoreCell ? 'var(--color-green)' : '', 'box-shadow' : blockScoreCell ? '0 0 2px var(--color-green)' : ''}"></div>
                </div>
            </div>
        </div>
        <div class="game-screen" (mousemove)="onMouseMove($event)" #gameContainer>
            <div class="blocks">
                <span>
                    <div *ngFor="let block of upperBlocks; index as i">
                        <div class="block" [ngStyle]="{'opacity' : block ? 0 : 1, 'height' : blockHeight+'px', 'width' : blockWidth+'px', 'background-color' : i >4 ? 'var(--color-red)' : 'var(--bg-color-1)'}"></div>
                    </div>
                </span>
                <span>
                    <div *ngFor="let block of lowerBlocks; index as i">
                        <div class="block" [ngStyle]="{'opacity' : block ? 0 : 1, 'height' : blockHeight+'px', 'width' : blockWidth+'px', 'background-color' : i >4 ? 'var(--color-red)' : 'var(--bg-color-1)'}"></div>
                    </div>
                </span>
            </div>
            <div class="ball" [style.transform]="translateBall" #gameBall></div>
            <div class="playing-bar" [style.transform]="translateX" #playingBar></div>
            <div class="info">*STILL IN DEVELOPMENT</div>
        </div>
        <div class="game-over" *ngIf="gameOver">
            <div class="glass-overlay"><img src="brokenGlass.png" alt="broken glass png image"></div>
            <div class="head">GAME OVER</div>
            <div class="xp-earned">
                you earned <span class="xp-earned-value">{{currentScore}}</span> xp
            </div>
            <div class="replay-button" (click)="replay()"><img src="restore.png" alt="replay icon"></div>
        </div>
    </div>
</div>