.container{
    width: 100%; height: 100%;
    background-color: var(--bg-color-2);
    backdrop-filter: blur(5px);
    overflow: hidden;

    .background{
        position: absolute; top: 0; left: -10%; width: 100%; height: 100%;
        display: flex;
        flex-direction: column;
        row-gap: 2px;
        transform: rotateZ(45deg) scale(1.6) translateX(-30%);

        .row{
            display: flex; flex-direction: row; column-gap: 2px; flex-wrap: nowrap;
            width: 100%; height: 20%;

            .el{
                border: 3px solid var(--color-1-light);
                min-width: 30%; height: 100%;
                opacity: .7;

                &:hover{
                    opacity: 1;
                }
            }
        }

        .row:nth-child(2n){
            animation: forwardTranslation var(--duration) linear infinite;
        }

        .row:nth-child(2n + 1){
            animation: backwardTranslation var(--duration) linear infinite;
        }

        .row:nth-child(1) { --duration: 2.7s; }
        .row:nth-child(2) { --duration: 1.4s; }
        .row:nth-child(3) { --duration: 3.6s; }
        .row:nth-child(4) { --duration: 2.1s; }
        .row:nth-child(5) { --duration: 1.9s; }
    }

    .start-button-underlay{
        position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%);
        width: 30%; height: 50px;
        background-color: var(--color-red);
        border-radius: 10px;
        overflow: hidden;

        .start-button{
            cursor: pointer;
            position: absolute; left: 0;top: 0; width: 100%; height: 90%;
            font-size: 2em;
            font-family: Arial, Helvetica, sans-serif;
            display: flex; align-items: center; justify-content: center;
            background-color: var(--bg-color-1);
            color: var(--color-red);
            transition: transform .3s linear;

            &::after{
                content: '';
                position: absolute; top: 0; left: 0; width: 100%; height: 100%; transform: translateY(-100%);
                background: linear-gradient(transparent 20%, var(--color-red) 60%, transparent 100%);
                transition: transform .3s linear, opacity .2s .3s linear;
            }

            &:hover{
                transform: translateY(10%);
                opacity: .8;
                &::after{
                    transform: translateY(200%);
                }
            }
            

        }
    }

    .game-loading{
        position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%);
        width: 30%; height: 50px;
        background-color: var(--color-green);
        display: flex; flex-direction: row; column-gap: 2px; justify-content: center; align-items: center;
        border-radius: 10px;
        padding: 0 2px;

        .percentage{
            border-radius: 6px;
            height: 90%;
            flex: 1;
        }
    }

    .body{
        width: 100%; height: 100%;

        .score-screen{
            width: 100%; height: 70px;
            border-top: 1px solid var(--color-1);
            border-bottom: 1px solid var(--color-1);
            background-color: #000;
            position: relative;
            background-image: repeating-linear-gradient(
                to bottom,
                rgba(0, 255, 0, 0.1) 0px,
                rgba(0, 255, 0, 0.1) 1px,
                transparent 1px,
                transparent 3px
                ),
                repeating-linear-gradient(
                to left,
                rgba(0, 255, 0, 0.1) 0px,
                rgba(0, 255, 0, 0.1) 1px,
                transparent 1px,
                transparent 3px
                );
            background-size: 100% 4px;

            .score{
                position: absolute; top: 0; left: 0;
                height: 100%; width: 70%; border-right: 1px solid var(--color-1);
                display: flex;
                flex-direction: column;
                row-gap: 10px;
                justify-content: center;
                padding-left: 10px;
                color: var(--color-green); text-shadow: 0 0 2px var(--color-green);
                font-weight: bolder;

                .current-score, .max-score{
                    position: relative;
                    width: 100%;

                    .score-amount{
                        position: absolute;
                        right: 10px;
                    }
                }
            }

            .block-score{
                position: absolute; top: 0; right: 0;
                height: 100%; width: 30%;
                display: flex; flex-direction: column;
                flex-wrap: nowrap;

                .row{
                    width: 100%;
                    display: flex; flex-direction: row;
                    flex-wrap: nowrap;
                    flex: 1;

                    .cell{
                        flex: 1;
                    }
                }
            }
        }

        .game-screen{
            position: relative;
            width: 100%; height: calc( 100% - 70px );

            .blocks{
                position: absolute; top: 10px; left: 0; width: 100%; height: max-content;
                display: flex;
                flex-direction: column;
                row-gap: 3px;

                span{
                    width: 100%;
                    height: max-content;
                    display: flex;
                    flex-direction: row;
                    flex-wrap: wrap;
                    row-gap: 3px; column-gap: 3px;
                    align-items: center; justify-content: center;
                    
                    
                    .block{
                        border: 1px solid var(--color-1);
                        box-shadow: 0 0 4px var(--color-1);
                    }
                }

                
            }

            .ball{
                position: absolute;
                width: 30px; height: 30px;
                border-radius: 100%;
                background-color: var(--color-blue);
                box-shadow: 5px 5px 5px var(--bg-color-1);
                border: 2px solid var(--color-1-light);
                transition-property: transform;
                transition-timing-function: linear;

                &::after{
                    content: '';
                    position: absolute; top: 15%; left: 15%; width: 40%; height: 40%; border-radius: 100%;
                    background-color: var(--color-1);
                    opacity: .2;
                }
            }

            .playing-bar{
                position: absolute; bottom: 0; left: 0;
                width: 20%; height: 5px;
                border-radius: 10px;
                background-color: var(--color-blue);
                box-shadow: 0px -5px 20px var(--color-blue);
                transition: transform .2s ease;
            }

            .info{
                position: absolute; bottom: 5px; right: 5px;
                color: var(--color-red);
                font-weight: bolder;
            }
        }

        .game-over{
            position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%);
            width: 50%; height: 30%;
            background-color: #000;
            background-image: repeating-linear-gradient(
                to bottom,
                rgba(0, 255, 0, 0.1) 0px,
                rgba(0, 255, 0, 0.1) 1px,
                transparent 1px,
                transparent 3px
                ),
                repeating-linear-gradient(
                to left,
                rgba(0, 255, 0, 0.1) 0px,
                rgba(0, 255, 0, 0.1) 1px,
                transparent 1px,
                transparent 3px
                );
            background-size: 100% 4px;
            color: var(--color-green);
            font-weight: bolder;
            border-radius: 10px;
            border: 3px solid var(--color-green);
            box-shadow: 0 0 4px var(--color-green), inset 0 0 6px var(--color-green);
            display: flex;
            flex-direction: column;
            justify-content: center;
            row-gap: 15px;

            animation: flactuationsScreen 4s infinite;

            &::after{
                content: '';
                opacity: 0.2;
                position: absolute; left: 0; top: 0;
                width: 100%; height: 100%;
                background-image: url("brokenGlass.png");
                background-size: 100% 100%;
                background-repeat: no-repeat;
            }

            .head{
                font-size: 2em;
                width: 100%;
                text-align: center;
                text-shadow: 0 0 6px var(--color-green);
                animation: flactuationsText 4s 1s infinite;
            }

            .xp-earned{
                width: 100%;
                text-align: center;
                text-shadow: 0 0 6px var(--color-green);
                animation: flactuationsText 4s infinite;

                .xp-earned-value{
                    color: var(--color-red);
                    font-weight: bolder; font-size: 1.5em;
                    text-shadow: 0 0 6px var(--color-red);
                    animation: flactuationsText2 5s infinite;
                }
            }

            .replay-button{
                z-index: 12;
                cursor: pointer;
                position: absolute; bottom: 10px; right: 10px;
                width: 50px; aspect-ratio: 1 / 1;
                border: 3px solid var(--color-green);
                border-radius: 10px;
                animation: flactuationsScreen 5s infinite;
                transition: background-color .2s linear, transform .1s linear;

                img{
                    position: absolute; top: 5%; left: 5%;
                    z-index: 13;
                    width: 90%; height: 90%;
                    filter: invert(37%) sepia(8%) saturate(1917%) hue-rotate(67deg) brightness(97%) contrast(85%);
                    animation: flactuationsText 4s infinite;
                }

                &:hover{
                    background-color: var(--color-green);
                    transform: rotateZ(-10deg);

                    img{
                        filter: unset;
                    }
                }
            }
        }
    }
}

@keyframes flactuationsScreen {
    10%{
        border-color: var(--bg-color-1);
        box-shadow: 0 0 4px var(--color-green), inset 0 0 6px var(--color-green);
    } 40% {
        border-color: var(--bg-color-1);
        box-shadow: 0 0 10px var(--color-green), inset 0 0 6px var(--color-green);
    } 60%, 70%, 90% {
        border-color: var(--bg-color-1);
        box-shadow: unset;
    } 9%, 11%, 38%, 42%, 58%, 62%, 68%, 72%, 88%, 92% {
        border: 3px solid var(--color-green);
        box-shadow: 0 0 4px var(--color-green), inset 0 0 6px var(--color-green);
    }
}

@keyframes flactuationsText {
    10%{
        opacity: 0;
        text-shadow: 0 0 4px var(--color-green);
    } 20% {
        transform: translate(-4px, -4px);
        text-shadow: -4px -4px 4px var(--color-green);
    } 40% {
        opacity: 0.7;
        text-shadow: 0 0 10px var(--color-green);
    } 60%, 70%, 90% {
        opacity: 0;
        text-shadow: unset;
    } 9%, 11%, 19%, 21%, 23%, 38%, 42%, 58%, 62%, 68%, 72%, 88%, 92% {
        transform: unset;
        opacity: 1;
        text-shadow: 0 0 4px var(--color-green);
    }
}

@keyframes flactuationsText2 {
    10%{
        opacity: 0;
        text-shadow: 0 0 4px var(--color-red);
    } 40% {
        opacity: 0.7;
        text-shadow: 0 0 10px var(--color-red);
    } 60%, 70%, 90% {
        opacity: 0;
        text-shadow: unset;
    } 9%, 11%, 38%, 42%, 58%, 62%, 68%, 72%, 88%, 92% {
        opacity: 1;
        text-shadow: 0 0 4px var(--color-red);
    }


}

@keyframes forwardTranslation {
    100%{
        transform: translateX(30%);
    }
}

@keyframes backwardTranslation {
    100%{
        transform: translateX(-30%);
    }
}