.container{
    width: 100%;
    height: 100%;
    position: relative;
    overflow: hidden;
    perspective: 1000px;

    &:hover{

        .wrapper{
            animation-play-state: paused;
        }
    }

    .wrapper{
        position: absolute;
        top: 50%; left: 50%; transform: translate(-50%, -50%); height: 240px; width: 300px;
        transform-style: preserve-3d;
        animation: rotation 15s linear infinite;

        .project{
            position: absolute;
            inset: 0 0 0 0;
            transform: rotateY( calc( (360/var(--l)) * var(--i) * 1deg) ) translateZ(-500px);
        }
    }

    
}

@keyframes rotation {
    from{
        transform: translate(-50%, -50%) translateZ(500px);
    } to{
        transform:translate(-50%, -50%) translateZ(500px) rotateY(360deg);
    }
}