<div class="container">
    <div class="project" [ngClass]="{'slide-right' : slideRight}">
        <app-project [projectName]="projects[projectBeforeIndex].project" [projectDescription]="projects[projectBeforeIndex].description"/>
    </div>
    <div class="project" [ngClass]="{'slide-left' : slideLeft, 'slide-right' : slideRight}">
        <app-project [projectName]="projects[projectIndex].project" [projectDescription]="projects[projectIndex].description"/>
    </div>
    <div class="project" [ngClass]="{'slide-left' : slideLeft}">
        <app-project [projectName]="projects[projectAfterIndex].project" [projectDescription]="projects[projectAfterIndex].description"/>
    </div>
    
    <span class="slide toLeft" (click)="toRight()">&lt;</span>
    <span class="slide toRight" (click)="toLeft()">&gt;</span>

    <span class="pagination-dots">
        <div class="dot" *ngFor="let project of projects;let i = index" [ngClass]="{'current-project' : i === projectCarouselIndex}"> </div>
    </span>
</div>