.container{
    width: 100%; height: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    column-gap: 2px;
    row-gap: 2px;
    padding: 10px;

    .item{
        cursor: pointer;
        width: 80px; height: 100px;
        display: flex;
        flex-direction: column;
        row-gap: 5px;
        align-items: center;
        padding: 5px;

        .item-icon{
            width: 60%;
        }

        .item-name{
            display: flex; justify-content: center;
            font-size: .8em;
            text-align: center;
            width: 100%;
        }

        &:hover{
            background-color: var(--color-1-light);
        }
    }
}