.container{
    width: 100%; height: 100%;
    display: flex;
    flex-direction: row; align-content: flex-start; justify-content: flex-start;
    flex-wrap: wrap; row-gap: 5px; column-gap: 5px;
    padding: 10px;
    overflow-y: scroll;

    .item{
        width: 80px; height: 100px;
    }
}