<div class="container">
    <!-- <div class="item" *ngFor="let item of openedFolder?.content | keyvalue : keepOrder; trackBy: trackByKey" title="{{item.value.name}}{{item.value.isFile ? '.txt' : ''}}" (dblclick)="openItem(item.value)">
        <img src="{{item.value.icon}}" alt="icon logo" class="item-icon">
        <p class="item-name">{{item.value.name}}{{item.value.isFile ? '.txt' : ''}}</p>
    </div> -->
    <div class="item" *ngFor="let item of openedFolder?.content | keyvalue : keepOrder; trackBy: trackByKey">
        @if(item.value.isFolder) {
            <app-app-tile
                [app_id]="item.value.id"
                [app_name]="item.value.name"
                [app_ext]="item.value.extension"
                [app_icon]="item.value.icon"
                (dblclick)="openItem(item.value)"
            />
        } @else {
            <app-app-tile 
            [app_id]="item.value.id"
            [app_name]="item.value.name"
            [app_ext]="item.value.extension"
            [app_icon]="item.value.icon"
            [openWithId]="open"
            />
        }
    </div>
</div>