<div class="container" (dragover)="onDragOver($event)" (drop)="onDrop($event)">
    <div class="item" *ngFor="let item of openedFolder?.content | keyvalue : keepOrder; trackBy: trackByKey">
        @if(item.value.isFolder) {
            <app-app-tile
                [app_id]="item.value.id"
                [app_name]="item.value.name"
                [app_ext]="item.value.extension"
                [app_icon]="item.value.icon"
                [setDraggedId]="setDraggedId"
                (dblclick)="openItem(item.value)"
                (dragstart)="onDragStart()"
            />
        } @else {
            <app-app-tile 
            [app_id]="item.value.id"
            [app_name]="item.value.name"
            [app_ext]="item.value.extension"
            [app_icon]="item.value.icon"
            [openWithId]="open"
            [setDraggedId]="setDraggedId"
            (dragstart)="onDragStart()"
            />
        }
    </div>
</div>