.container{
    width: 100%;
    height: 100%;
}

.experience{
    color: var(--bg-color-1);
    background-color: var(--color-silver);
    opacity: .8;

    .header{
        display: flex; flex-direction: row;
        height: 60px;
        background-color: var(--color-cloudy);
        border-bottom: 1px solid var(--bg-color-1);

        .left{
            width: 20%; height: 100%;
            display: flex; justify-content: center; align-items: center;
            font-size: 1em;
            text-align: center;
            font-weight: bolder;
        }

        .center{
            position: relative;
            border-left: 1px solid var(--bg-color-1);
            border-right: 1px solid var(--bg-color-1);
            width: 50%;

            .text-effect{
                position: absolute;
                bottom: 0; left: 50%; transform: translateX(-50%);
                display: flex; flex-direction: row; column-gap: 2px;

                .effect{
                    width: 30px;
                    aspect-ratio: 1 / 1;
                    display: flex; justify-content: center; align-items: center;
                    background-color: var(--bg-color-2);
                    border-radius: 2px;
                    cursor: pointer;
                    transition: all .1s linear;

                    &:hover{
                        opacity: .9 !important;
                    }
                }

                .bold{
                    font-weight: bolder;
                }

                .italic{
                    font-style: italic;
                }

                .underline{
                    text-decoration: underline;
                }
            }
        }

        .right{
            width: 30%;
            height: 100%;
            display: flex; flex-direction: column;

            .location, .start-date, .end-date{
                display: flex; align-items: center;
                height: 33%;
                width: 100%;
                padding: 0 10px;
                font-weight: bolder;
            }

            .location{
                justify-content: end;
            }

            .start-date, .end-date{
                position: relative;
                justify-content: start;

                .date{
                    position: absolute;
                    top: 50%; transform: translateY(-50%);
                    right: 10px;
                }
            }
        }
    }

    .body{
        position: relative;
        width: 100%;
        height: calc(100% - 60px);

        .title{
            width: 100%;
            height: 15%;
            display: flex; justify-content: center; align-items: center;
            font-size: 2em;
            font-weight: bolder;
            text-align: center;
        }

        .description{
            position: relative;
            width: 100%;
            height: 80%;
            display: flex; flex-direction: column; row-gap: 20px;
            padding-top: 20px;
            outline: none;
            overflow-y: scroll;

            &::-webkit-scrollbar-thumb {
                border-radius: 10px;
                background-color: var(--bg-color-3);
            }

            .wrapper{
                position: absolute; top: 40px; left: 20px; width: calc( 100% - 25px);
                height: calc( 100% - 40px );
                min-height: max-content;
                padding-left: 30px;
                outline: none;
            }
        }

        .tools-technologies{
            position: absolute;
            bottom: 0px;
            height: 5%; width: 100%;
            font-size: .8em;
            display: flex; justify-content: center; align-items: center;
        }
    }

    .isBold{
        font-weight: bolder;
    }

    .isItalic{
        font-style: italic;
    }

    .isUnderline{
        text-decoration: underline;
    }
}

.script{
    background-color: var(--bg-color-3);
    color: var(--color-green);
    backdrop-filter: blur(2px);
    overflow-y: scroll;
    display: flex; flex-direction: column;

    .line{
        height: max-content;
        width: 100%;
        display: flex; flex-direction: row;
        
        .line-number{
            padding: 4px;
            display: inline-block;
            color: var(--color-1);
            width: 30px;
            display: flex; align-items: start; justify-content: end;
            background-color: var(--bg-color-1);
            border-bottom: 1px solid var(--color-1);
        }

        .line-instruction{
            width: calc( 100% - 30px );
            padding-left: 4px;
            border-bottom: 1px solid var(--color-1-lighter);
            display: flex; align-items: end;
        }
    }

    .head{
        color: var(--color-1);
        letter-spacing: 2px;
    }
}