<div class="container experience" *ngIf="experience">
    <div class="header">
        <div class="text-effect">
            <div class="effect bold" [ngStyle]="{'opacity' : experience.isBold ? '1' : '.4', 'scale' : experience.isBold ? '1' : '.9', 'color' : experience.isBold ? 'var(--color-2)' : 'var(--bg-color-1)'}" (click)="boldEffect()">B</div>
            <div class="effect italic" [ngStyle]="{'opacity' : experience.isItalic ? '1' : '.4', 'scale' : experience.isItalic ? '1' : '.9', 'color' : experience.isItalic ? 'var(--color-2)' : 'var(--bg-color-1)'}" (click)="italicEffect()">I</div>
            <div class="effect underline" [ngStyle]="{'opacity' : experience.isUnderlined ? '1' : '.4', 'scale' : experience.isUnderlined ? '1' : '.9', 'color' : experience.isUnderlined ? 'var(--color-2)' : 'var(--bg-color-1)'}" (click)="underlineEffect()">U</div>
        </div>
    </div>
    <div class="body" [class.isBold]="experience.isBold" [class.isItalic]="experience.isItalic" [class.isUnderline]="experience.isUnderlined">
        <h1 class="title" contenteditable="true" (keydown)="preventNewLine($event)">{{experience.header}}</h1>
        <p class="description" contenteditable="true" style="white-space: pre-wrap;" (input)="onInput($event)">{{experience.body}}</p>
    </div>
</div>
<div class="container script" *ngIf="script">
    <div class="line head">
        <span class="line-number">{{1}}</span><span class="line-instruction">author : {{script.author}}</span>
    </div>
    <div class="line head">
        <span class="line-number">{{2}}</span><span class="line-instruction">file : {{script.name}}</span>
    </div>
    <div class="line head">
        <span class="line-number">{{3}}</span><span class="line-instruction">permission : {{script.permission}}</span>
    </div>

    <div class="line head">
        <span class="line-number">{{4}}</span><span class="line-instruction">version : {{script.version}}</span>
    </div>
    <div class="line head">
        <span class="line-number">{{5}}</span><span class="line-instruction">-------------------</span>
    </div>
    <div class="line" *ngFor="let line of script.script_code; index as i">
        <span class="line-number">{{i+6}}</span><span class="line-instruction"><p>{{line}}</p></span>
    </div>
</div>