.container{
    width: 100%;
    height: 100%;
}

.experience{
    color: var(--bg-color-1);
    background-color: var(--color-silver);
    opacity: .9;

    .header{
        display: flex; flex-direction: row;
        height: 40px;
        background-color: var(--bg-color-3);
        border-bottom: 1px solid var(--bg-color-1);
        position: relative;

        .text-effect{
            position: absolute;
            bottom: 0; left: 50%; transform: translateX(-50%);
            display: flex; flex-direction: row; column-gap: 2px;

            .effect{
                width: 30px;
                aspect-ratio: 1 / 1;
                display: flex; justify-content: center; align-items: center;
                background-color: var(--color-1);
                border-radius: 2px;
                cursor: pointer;
                transition: all .1s linear;

                &:hover{
                    opacity: .9 !important;
                }
            }

            .bold{
                font-weight: bolder;
            }

            .italic{
                font-style: italic;
            }

            .underline{
                text-decoration: underline;
            }
        }
    }

    .body{
        position: relative;
        width: 100%;
        height: calc(100% - 40px);
        background-color: var(--color-1);

        .title{
            width: 100%;
            height: 15%; padding: 20px 10px;
            font-size: 2em;
            font-weight: bolder;
            outline: none;
            overflow-x: scroll;
            white-space: nowrap;
            position: relative;

            &::-webkit-scrollbar-track, &::-webkit-scrollbar{
                background-color: transparent;
            }

            &:empty::before,&:has(br:only-child)::before{
                content: 'Untitled...';
                position: absolute; top: 0; left: 0; padding: 20px 10px;
                height: 100%;
                opacity: .5;
            }
            
        }

        .description{
            position: relative;
            width: 100%;
            height: 85%;
            outline: none;
            padding: 10px 5px 0 30px;
            overflow-y: scroll;

            &::-webkit-scrollbar-thumb {
                background-color: var(--bg-color-3);
            }

            &::-webkit-scrollbar-track, &::-webkit-scrollbar{
                width: 10px;
                background-color: transparent;
            }

            &:empty::before{
                content: 'Type Here...';
                position: absolute; top: 0; left: 0; padding: inherit; height: 100%; width: 100%;
                opacity: .5;
            }


        }
    }

    .isBold{
        font-weight: bolder;
    }

    .isItalic{
        font-style: italic;
    }

    .isUnderline{
        text-decoration: underline;
    }
}

.script{
    background-color: var(--bg-color-3);
    color: var(--color-green);
    backdrop-filter: blur(2px);
    overflow-y: scroll;
    display: flex; flex-direction: column;

    .line{
        height: max-content;
        width: 100%;
        display: flex; flex-direction: row;
        
        .line-number{
            padding: 4px;
            display: inline-block;
            color: var(--color-1);
            width: 30px;
            display: flex; align-items: start; justify-content: end;
            background-color: var(--bg-color-1);
            border-bottom: 1px solid var(--color-1);
        }

        .line-instruction{
            width: calc( 100% - 30px );
            padding-left: 4px;
            border-bottom: 1px solid var(--color-1-lighter);
            display: flex; align-items: end;
        }
    }

    .head{
        color: var(--color-1);
        letter-spacing: 2px;
    }
}