.instances-container{
    position: absolute;
    overflow: hidden;
    transition: transform .1s linear, min-height .1s linear;
    transform: translateY(0);
    display: flex;
    flex-direction: column-reverse;
    flex-shrink: 0;
    row-gap: 5px;
    max-height: 24px;
    width: 200px;
    background-color: rgba(0, 0, 0, 0.055);
    min-height: 24px;
    border: 1px solid var(--color-1-light);

    .instance{
        width: 200px;
        min-height: 24px;
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        column-gap: 5px;
        justify-content: center;
        align-items: center;
        transition: none;

        &:hover{
            background-color: var(--color-1-light);
        }

        &:not(:nth-of-type(1)){
            opacity: 0;
            transform: translateX(-10px);
        }

        .icon{
            min-height: 20px;
            width: 20px;
        }

        .instance-name{
            cursor: default;
            width: 100px;
            text-align: left;
        }

        .hide,.close{
            cursor: pointer;
            min-height: 24px;
            width: 20px;
            display: flex;
            justify-content: center;
            align-items: center;
            text-align: center;
        }   
        
        
        .hide{
            font-size: 20px;
        }

        &:has(.close:hover){
            background-color: var(--color-red) !important;
        }

        &:has(.hide:hover){
            background-color: var(--color-blue) !important;
        }
    }


    .hidden-instance{
        background-color: var(--color-blue);
    }

    .expanded{
        opacity: 1 !important;
        transform: translateX(0) !important;
        transition: opacity 0.3s linear, transform 0.3s linear;
    }
}