.body{
    position: absolute; top: 0; left: 0;
    background-color: var(--bg-color-2);
    width: 100%;
    height: 100%;
    backdrop-filter: blur(5px);

    .left-panel{
        position: absolute; top: 0; left: 0; width: 150px; height: 100%;
        background-color: var(--color-1);
        border-right: 1px solid var(--bg-color-1);
        color: var(--bg-color-1);
        padding: 5px;
        overflow-y: scroll;
        overflow-x: hidden;

        .fs{
            display: flex; flex-direction: column;
            height: 100%;
            background-color: var(--color-3);
        }
    }

    .content{
        position: absolute; top: 0; left: 150px; width: calc(100% - 150px); height: 100%;
    }
}