.body{
    position: absolute; top: 0; left: 0;
    background-color: var(--bg-color-2);
    width: 100%;
    height: 100%;
    backdrop-filter: blur(5px);

    .left-panel{
        position: absolute; top: 0; left: 0; width: 150px; height: 100%;
        background-color: var(--color-1);
        border-right: 1px solid var(--bg-color-1);
        color: var(--bg-color-1);
        padding: 5px;

        .folders{
            display: block;
            width: 100%; height: 100%; background-color: var(--color-3);

            .folder-name{
                display: block;
                width: 100%; height: max-content;
                position: relative;
                font-weight: bolder;
                .folder{
                    cursor: default;
                }

                .show-sub-folders-button{
                    transform: rotateZ(90deg);
                    position: absolute; top: 0; right: 10px;
                    cursor: pointer;
                }
                
            }

            .sub-folder-name{
                display: block;
                padding-left: 10px;
                margin-top: 5px;
                width: calc( 100% - 10px);
                cursor: pointer;
            }

            .opened-folder{
                font-weight: bolder;
                color: var(--color-2);
                font-style: italic;
            }
        }
    }

    .content{
        position: absolute; top: 0; left: 150px; width: calc(100% - 150px); height: 100%;
    }
}