<div class="body">
    <div class="left-panel">
        <span class="fs">
            <app-folders-structure-panel *ngFor="let fs of foldersStructure;" [folderStructure]="fs" [selectedFolder]="folder.name" [changeFolder]="changeFolder"/>
        </span>
    </div>
    <div class="content">
        <app-projects *ngIf="folder.name === 'Projects'"></app-projects>
        <app-experience *ngIf="folder.name === 'Experience'" [open]="open" (dragover)="dragOver($event)" (drop)="dropToMove($event)"/>
    </div>
</div>