.container{
    position: absolute;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    box-shadow: 0 0 5px var(--bg-color-1);
    overflow: hidden;
    color: var(--color-1);
    
    .header{
        position: absolute;
        top: 0; left: 0;
        height: 40px;
        width: 100%;
        background-color: var(--bg-color-1);
        transition: background-color .2s ease;

        .title{
            position: absolute; top: 50%; left: 10px; transform: translateY(-50%);
            height: 80%;
            width: max-content;
            color: var(--color-1);
            display: flex;
            flex-direction: row;
            column-gap: 10px;
            flex-wrap: nowrap;
            align-items: center;
            justify-content: center;

            .icon-logo{
                height: 100%;
            }

            .name{
                cursor: default;
            }
        }

        .dragging-bar{
            display: block;
            position: absolute;top: 0; height: 70%; left: 25%; right: 15%;
            background-color: var(--color-2);
            opacity: .7;
            border: 1px solid var(--color-1);
            border-top: none;
        }

        &:has(.control-buttons .close:hover) {
            background-color: var(--color-red);
        }

        &:has(.control-buttons .hide:hover) {
            background-color: var(--color-blue);
        }

        .control-buttons{
            position: absolute; top: 0; right: 10px; height: 100%; width: max-content;
            display: flex;
            flex-direction: row;
            column-gap: 10px;
            font-weight: bolder;
            font-size: 1.2em;

            .hide, .close{
                width: 20px; height: 100%;
                display: flex;
                align-items: center;
                justify-content: center;
                opacity: .7;
                cursor: pointer;
                transition: color .2s ease;
                
                &:hover{
                    color: var(--bg-color-1);
                }
            }

            
        }
    }

    .body{
        position: absolute; top: 40px; left: 0;
        background-color: var(--bg-color-2);
        width: 100%;
        height: calc( 100% - 40px);
        backdrop-filter: blur(5px);

        .left-panel{
            position: absolute; top: 0; left: 0; width: 150px; height: 100%;
            background-color: var(--color-1);
            border-right: 1px solid var(--bg-color-1);
            color: var(--bg-color-1);
            padding: 5px;

            .folders{
                display: block;
                width: 100%; height: 100%; background-color: var(--color-3);

                .folder-name{
                    display: block;
                    width: 100%; height: max-content;
                    position: relative;
                    font-weight: bolder;
                    .folder{
                        cursor: default;
                    }

                    .show-sub-folders-button{
                        transform: rotateZ(90deg);
                        position: absolute; top: 0; right: 10px;
                        cursor: pointer;
                    }
                    
                }

                .sub-folder-name{
                    display: block;
                    padding-left: 10px;
                    margin-top: 5px;
                    width: calc( 100% - 10px);
                    cursor: pointer;
                }

                .opened-folder{
                    font-weight: bolder;
                    color: var(--color-2);
                    font-style: italic;
                }
            }
        }

        .content{
            position: absolute; top: 0; left: 150px; width: calc(100% - 150px); height: 100%;
        }
    }
}