.container{
    width: 100%; height: 100%;
    background-color: var(--bg-color-3);
    color: var(--color-1);
    backdrop-filter: blur(5px);
    padding: 10px;
    overflow-y: scroll;


    .content{
        width: 100%; height: 100%;
        font-family: 'JetBrains Mono', monospace;
        

        .heading{
            letter-spacing: 2px;
            padding: 5px 5px 40px 5px;

            .help-prompt{
                font-size: small;
                font-style: italic;

                .help-c{
                    background-color: var(--color-1);
                    opacity: .6;
                    padding: 0 5px;
                    color: var(--bg-color-1);
                    font-weight: bolder;
                }
            }
        }

        .commands{

            .command,.command-result, .line>.command{
                margin-bottom: 5px;
            }

            .command>.shell-prompt{
                opacity: .6;
                font-size: .9em;
            }

            .command-result{
                margin-left: 5px;
                white-space: pre-wrap;
                user-select: all;
                font-family: monospace;
                font-size: 1.2em;
            }

            .unavailable-command{
                color: var(--color-red);
                font-style: italic;
            }

            .line{
                width: 100%;
                position: relative;

                .command{
                    flex-shrink: 0;
                }

                .command-input{
                    position: absolute; top: 0; left: 0; width: 100%;
                    cursor: default;
                    padding-left: 116px;
                    background-color: transparent;
                    color: var(--color-1);
                    border: unset;
                    word-wrap: break-word;

                    &:focus{
                        border: unset;
                        outline: none;
                    }
                }
            }
        }
    }
}