<div class="container">
    <div class="content">
        <div class="heading">
            TealOS version 1.0.0 --- Interactive Shell
        </div>
        <div class="commands">
            <ng-container *ngFor="let command of enteredCommands">
                <p class="command">{{shellPrompt}} {{command}}</p>
                <div class="command-result">result here</div>
            </ng-container>
            <div class="line">
                <span class="command">{{shellPrompt}} </span>
                <div tabindex="-1" #commandInput class="command-input" contenteditable="true"></div>
            </div>
        </div>
    </div>
</div>