.container{
    width: 100%; height: 100%;
    background-color: var(--bg-color-3);
    color: var(--color-1);
    backdrop-filter: blur(5px);
    padding: 10px;

    .content{
        width: 100%; height: 100%;
        font-family: 'JetBrains Mono', monospace;
        

        .heading{
            letter-spacing: 2px;
            padding: 5px 5px 10px 5px;
        }

        .commands{

            .command,.command-result{
                margin-bottom: 5px;
            }

            .command-result{
                margin-left: 5px;
            }

            .command{
                .command-input{
                    cursor: default;
                    background-color: transparent;
                    color: var(--color-1);
                    border: unset;
                    font-size: 1em;
                    font-weight: lighter;

                    &:focus{
                        border: unset;
                        outline: none;
                    }
                }
            }
        }
    }
}