<div class="container" (contextmenu)="onRightClick($event)">
    <ng-container *ngIf="stacksMap">
        <app-instances-stack 
        *ngFor="let stack of stacksMap | keyvalue : keepOrder" 
        [stack]="stack.value" class="stack-item"
        [stackId]="stack.key"
        [removeStackElement]="removeItem"
        [putInstanceFront]="putInstanceFront"
        [focusOnWindow]="focusOnWindow"
        [removeFocusOnWindow]="removeFocusOnWindow"
        [hideRevealItem]="hideRevealItem"
        ></app-instances-stack>
    </ng-container>
</div>