.container{
    position: absolute;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    box-shadow: 0 0 5px var(--bg-color-1);
    color: var(--color-1);
    
    .header{
        position: absolute;
        top: 0; left: 0;
        height: 40px;
        width: 100%;
        background-color: var(--bg-color-1);
        transition: background-color .2s ease;

        .title{
            position: absolute; top: 50%; left: 10px; transform: translateY(-50%);
            height: 80%;
            width: 20%;
            color: var(--color-1);
            display: flex;
            flex-direction: row;
            column-gap: 5px;
            flex-wrap: nowrap;
            align-items: center;
            justify-content: start;

            .icon-logo{
                height: 70%;
            }

            .name{
                cursor: default;
                white-space: nowrap;
                text-overflow: ellipsis;
                overflow: hidden;
            }
        }

        .dragging-bar{
            cursor: grab;
            display: block;
            position: absolute;top: 0; height: 70%; left: 25%; right: 15%;
            background-color: var(--color-2);
            opacity: .7;
            border: 1px solid var(--color-1);
            border-top: none;

            &:active{
                cursor: grabbing;
            }
        }

        &:has(.control-buttons .close:hover) {
            background-color: var(--color-red);
        }

        &:has(.control-buttons .hide:hover) {
            background-color: var(--color-blue);
        }

        .control-buttons{
            position: absolute; top: 0; right: 10px; height: 100%; width: max-content;
            display: flex;
            flex-direction: row;
            column-gap: 10px;
            font-weight: bolder;
            font-size: 1.2em;

            .hide, .close{
                width: 20px; height: 100%;
                display: flex;
                align-items: center;
                justify-content: center;
                opacity: .7;
                cursor: pointer;
                transition: color .2s ease;
                
                &:hover{
                    color: var(--bg-color-1);
                }
            }

            
        }
    }

    .context-menu{
        position: fixed;
        z-index: 9999999;
        height: fit-content; width: 150px;
        background-color: var(--bg-color-2);
        display: flex; flex-direction: column;

        .action{
            position: relative;
            width: 100%;
            height: 30px;
            border: 1px solid var(--bg-color-1);
            transition: background-color .1s;
            cursor: pointer;

            &:hover{
                background-color: var(--bg-color-1);
            }

            .action-name{
                height: 100%; padding-left: 5px;
                display: flex; align-items: center;
            }

            .icon{
                width: 20px; aspect-ratio: 1 / 1;
                position: absolute; right: 5px; top: 50%; transform: translateY(-50%);
                text-align: center;
            }
        }
    }
}