<div class="container"
    [ngStyle]="{'min-width': openInstance.windowWidth+'px' , 
                'min-height': openInstance.windowHeight+'px' ,
                'resize' : openInstance.resizeable ? 'both' : 'none',
                'overflow' : openInstance.resizeable ? 'auto' : 'hidden',
                'top': openInstance.positionY+'px', 
                'left': openInstance.positionX+'px', 
                'display' : openInstance.hidden && !openInstance.focusedOn ? 'none' : 'block', 
                'z-index' : openInstance.focusedOn ? '10000' : openInstance.positionZ}"
    #window>
    <div class="header">
        <div class="title">
            <img src="{{openInstance.icon}}" alt="logo" class="icon-logo">
            <p class="name" title="{{openInstance.name}}">{{openInstance.name}}</p>
        </div>
        <span class="dragging-bar" (mousedown)="startDrag($event)" (mouseup)="endDrag()"></span>
        <div class="control-buttons">
            <div class="hide" text="hide" (click)="hide()">&#9660;</div>
            <div class="close" text="close" (click)="close()">X</div>
        </div>
    </div>
    <ng-content></ng-content>
</div>