.container{
    width: 100%;
    height: 100%;
    background-color: var(--bg-color-1);
    color: var(--color-1);

    .menu-button{
        cursor: pointer;
        width: 40px; height: 25px;
        position: absolute;
        top: 15px;
        left: 50%; 
        transform: translateX(-50%);

        .dash{
            position: absolute; top: 0; left: 0; transform: translateX(5%);
            transition: all .2s ease;
            width: 90%;
            height: 5px;
            border-radius: 2px;
            background-color: var(--color-1);
            opacity: .9;

            &::after, &::before{
                content: "";
                transition: inherit;
                position: absolute;
                left: 0;
                width: 100%; height: 100%;
                border: inherit;
                background-color: inherit;
                border-radius: 2px;
            }

            &::after{
                top: 10px;
                opacity: .7;
            }

            &::before{
                top: 20px;
                opacity: .5;
            }
        }

        &:hover{
            .dash, .dash::after, .dash::before{
                box-shadow: 0 0 5px var(--color-1);
            }

            
        }

        .menu-clicked{
            height: 0;
        }
        
        .menu-clicked::after, .menu-clicked::before{
            height: 5px;
            transform-origin: center;
        }
        .menu-clicked::before{
            transform: translateY(-10px) rotate(45deg);
        }
        .menu-clicked::after{
            transform: rotate(-45deg);
        }
    }

    .wifi-battery{
        width: 100%;
        position: absolute;
        bottom: 120px;
        display: flex;
        flex-direction: column;
        row-gap: 10px;
        align-items: center;

        .logo{
            width: 50%;
            position: relative;
            

            &>img{
                display: block;
                width: 100%;
            }

            .battery-bar{
                position: absolute; top: 15%; left: 10%;
                height: 70%;
            }
            
        }

        .battery::after{
            content: attr(batteryP);
            color: var(--color-1);
            position: absolute; top: 0; left: 0; width: 100%; height: 100%;
            text-align: center;
            display: flex;
            align-items: center;
            justify-content: center;
            font-size: .7em;
            font-weight: bolder;
        }

        
    }

    .date-time{
        width: 100%;
        position: absolute;
        bottom: 10px;
        text-align: center;

        .time,.date{
            cursor: default;
            width: 100%;
            padding-bottom: 5px;
        }

        .time{
            padding-top: 5px;
            border-top: 1px solid var(--color-1);
            border-bottom: 1px solid var(--color-1);
        }

        .date{
            padding-top: 10px;
        }
    }

    .menu{
        position: absolute;
        left: 0;top: 0;
        transform: translateX(-105%) translateY(-10px);
        width: 270px;
        min-height: max-content;
        background-color: var(--bg-color-2);
        opacity: 0;
        z-index: -1;

        .main-buttons{
            background-color: var(--bg-color-1);
            width: 100%;
            height: 45px;
            position: relative;

            .user{
                cursor: default;
                position: absolute;
                top: 10%;
                left: 5px;
                height: 80%;
                min-width: max-content;

                &:hover{
                    opacity: .8;
                }

                .user-logo{
                    position: absolute;
                    left: 5px; top: 15%;
                    height: 70%;
                }

                .user-info{
                    position: absolute;
                    transform: translateX(35px);
                    width: max-content;
                    height: max-content;
                    font-family: sans-serif;

                    .user-fullname{
                        font-weight: bolder;
                        font-size: 1em;
                    }

                    .user-occupation{
                        font-size: .9em;
                        opacity: .8;
                    }
                }

                &:hover{
                    background-color: var(--bg-color-2);
                }
            }

            .power-buttons{
                position: absolute;
                right: 0; top: 0;
                height: 100%;
                min-width: max-content;
                display: flex;
                flex-direction: row;
                column-gap: 5px;
                flex-wrap: nowrap;
                padding-right: 10px;
                padding-left: 10px;
                border-left: 1px solid var(--color-1);

                .button{
                    cursor: pointer;
                    transition: opacity .2s linear;
                    padding: 2px;
                    margin-top: 7px;
                    height: 60%;
                    

                    .logo{
                        height: 100%;
                    }

                    &:hover{
                        opacity: .6;
                    }
                }

            }
        }

        .menu-items{
            min-height: calc( 30vh - 45px );
            transition: min-height .3s linear;

            .item{
                min-height: 25px;
                overflow: hidden;
                cursor: pointer;

                .item-name{
                    padding-top: 5px;
                    padding-left: 5px;
                    display: block;
                    min-height: 25px;
                    width: 100%;
                    position: relative;

                    .reveal-hide-button{
                        position: absolute;
                        top: 5px;
                        right: 5px;
                    }

                    &:hover{
                        background-color: var(--color-2);
                    }
                }
                
                &:hover{
                    background-color: var(--color-2-light);
                }

                .sub-items-content{
                    max-height: 0;
                    transition: max-height .3s linear;
                }
            }
        }
    }

    .show-menu{
        transform: translateX(-105%) translateY(5px);
        opacity: 1;
        z-index: 999;
        transition: transform .3s linear, opacity .5s .1s linear;
    }
}

.cover{
    position: fixed;
    top: 0; left: 0; width: 100%; height: 100%; transition: opacity .2s linear;
    z-index: 9999;
    opacity: 0;

    .info{
        position: absolute;
        top: 50%; left: 50%; transform: translate(-50%, -50%);
        color: var(--color-1);
        font-size: 1.2em; font-weight: bolder;
        opacity: .7;
        letter-spacing: 1px; font-style: italic;
    }

    .watch{
        position: absolute; left: 50%; top: 50%; transform: translate(-50%, -50%); opacity: .7;
        width: 500px; aspect-ratio: 1 / 1; border-radius: 100%;
        border: 2px solid var(--color-1);
        background-color: var(--color-1-light);
        overflow: hidden;
        

        &::after, &::before{
            content: '';
            position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%);
            border-radius: 100%;
            aspect-ratio: 1 / 1;
            z-index: -1;
        }

        &::after{
            width: 100%;
            border-top: 20px solid var(--color-1);
            transform: translate(-50%, -50%) rotate(-45deg);
            opacity: .2;
        }

        &::before{
            width: 100%;
            border: 60px solid var(--bg-color-1);
            border-left: none;
            border-top: none;
            opacity: .5;
        }

        .hours, .minutes, .seconds{
            position: absolute; left: 50%; top: 50%; transform: translate(-50%, -50%);
            width: 10px; height: 10px; border-radius: 100%; border: 4px solid var(--bg-color-1);
            background-color: var(--color-1);
        }

        .hours::after, .minutes::after, .seconds::after {
            content: '';
            position: absolute; top: 5px; left: 50%; transform: translate(-50%, -80%);

            corner-top-right-shape: bevel;
            border-top-right-radius: 10px;

            corner-top-left-shape: bevel;
            border-top-left-radius: 10px;
        }

        .hours::after{
            height: 100px; width: 10px;
            background-color: var(--color-1);
        }

        .minutes::after{
            height: 200px; width: 10px;
            background-color: var(--color-1);
        }

        .seconds::after{
            height: 230px; width: 5px;
            background-color: var(--color-red);
            
        }

        .seconds::before{
            content: '';
            position: absolute; top: 5px; left: 50%; transform: translate(-50%, -180px);
            width: 40px; aspect-ratio: 1 / 1;
            border-radius: 100%;
            corner-shape: scoop;
            background-color: var(--color-red);
        }

        .minutes::before{
            content: '';
            position: absolute; top: 5px; left: 50%; transform: translate(-50%, -150px);
            width: 40px; aspect-ratio: 1 / 1;
            border-radius: 100%;
            corner-shape: scoop;
            background-color: var(--color-1);
        }

        .hours::before{
            content: '';
            position: absolute; top: 5px; left: 50%; transform: translate(-50%, -80px);
            width: 40px; aspect-ratio: 1 / 1;
            border-radius: 100%;
            corner-shape: scoop;
            background-color: var(--color-1);
        }


        .one, .two, .three, .four, .five, .six, .seven, .eight, .nine, .ten, .eleven, .twelve{
            position: absolute; width: 1px; height: 1px; left: 50%; top: 50%; transform: translate(-50%, -50%);
        }

        .three::after, .six::after, .nine::after, .twelve::after{
            content: '';
            height: 40px; width: 20px;
            position: absolute; top: 50%; left: 50%; transform: translate(-50%, -240px);
            background-color: var(--bg-color-1); border: 2px solid var(--color-1);
            corner-bottom-right-shape: bevel;
            border-bottom-right-radius: 20px;

            corner-bottom-left-shape: bevel;
            border-bottom-left-radius: 20px;
        }

        .three{
            transform: translate(-50%, -50%) rotateZ(90deg);
        }

        .six{
            transform: translate(-50%, -50%) rotateZ(180deg);
        }

        .nine{
            transform: translate(-50%, -50%) rotateZ(270deg);
        }

        .one::after, .two::after, .four::after, .five::after, .seven::after, .eight::after, .ten::after, .eleven::after{
            content: '';
            height: 30px; width: 8px;
            position: absolute; top: 50%; left: 50%; transform: translate(-50%, -240px);
            background-color: transparent; border: 3px solid var(--bg-color-1);
        }

        .one{
            transform: translate(-50%, -50%) rotateZ(30deg);
        }

        .two{
            transform: translate(-50%, -50%) rotateZ(60deg);
        }

        .four{
            transform: translate(-50%, -50%) rotateZ(120deg);
        }

        .five{
            transform: translate(-50%, -50%) rotateZ(150deg);
        }

        .seven{
            transform: translate(-50%, -50%) rotateZ(210deg);
        }

        .eight{
            transform: translate(-50%, -50%) rotateZ(240deg);
        }

        .ten{
            transform: translate(-50%, -50%) rotateZ(300deg);
        }

        .eleven{
            transform: translate(-50%, -50%) rotateZ(330deg);
        }


        .wave-container{
            position: absolute; width: 100%; height: 100%; z-index: -1;

            .wave{
                position: absolute; bottom: 0; left: -20%;
                opacity: .3;
            }

            .wave2{
                width: 150%; height: 150%;
                animation: translation1 7s ease-in-out infinite alternate;
            }

            .wave1{
                width: 180%; height: 100%;
                animation: translation2 5s ease-in-out infinite alternate;
            }
        }
    }

    .bg-watch{
        position: absolute; left: 50%; top: 50%; transform: translate(-50%, -50%) scale(3);
        opacity: .1;
    }
}


@keyframes translation1 {
    100%{
        transform: translateX(-10%);
    }
}

@keyframes translation2 {
    100%{
        transform: translateX(10%);
    }
}