<div class="container">
    <div class="menu-button" (click)="menuToggle()">
        <div class="dash" [ngClass]="{'menu-clicked' : showMenu}"></div>
    </div>
    <div class="wifi-battery">
        <div class="wifi logo" title="internet access"><img src="./wifi.png" alt="wifi logo" class="wifi-logo"/></div>
        <div class="battery logo" title="{{battery >20 ? 'battery status : '+battery+'%' : 'plug in the charger'}}" [attr.batteryP]="battery">
            <img src="./battery.png" alt="battery logo" class="battery-logo"/>
            <div class="battery-bar" [ngStyle]="{'width' :  (battery*8/10)+'%', 'background-color' : battery>20 ? 'var(--color-green)' : 'var(--color-red)'}"></div>
        </div>
    </div>
    <div class="date-time">
        <div class="time">{{time}}</div>
        <div class="date">
            <div class="dateDay">{{dateDay}}</div>
            <div class="dateMonth">{{dateMonth}}</div>
            <div class="dateYear">{{dateYear}}</div>
        </div>
    </div>
    <div class="menu" [ngClass]="{'show-menu' : showMenu}">
        <div class="main-buttons">
            <div class="user" title="user">
                <img class="user-logo" src="./user.png" alt="user logo"/>
                <span class="user-info">
                    <p class="user-fullname">{{fullName}}</p>
                    <p class="user-occupation">{{occupation}}</p>
                </span>
            </div>
            <div class="power-buttons">
                <div class="power-off-button button" (click)="powerOff()" title="power off">
                    <img src="./poweroff.png" alt="power off button" class="poweroff-logo logo"/>
                </div>
                <div class="sleep-button button" (click)="powerOff()" title="sleep mode">
                    <img src="./sleep.png" alt="sleep mode button" class="sleep-logo logo"/>
                </div>
            </div>
        </div>
        <div class="menu-items" #menuItemsManager></div>
    </div>
</div>