<div class="container">
    <div class="menu-button" (click)="menuToggle()">
        <div class="dash" [ngClass]="{'menu-clicked' : showMenu}"></div>
    </div>
    <div class="wifi-battery">
        <div class="wifi logo" title="internet access"><img src="./wifi.png" alt="wifi logo" class="wifi-logo"/></div>
        <div class="battery logo" title="{{battery >20 ? 'battery status : '+battery+'%' : 'plug in the charger'}}" [attr.batteryP]="battery">
            <img src="./battery.png" alt="battery logo" class="battery-logo"/>
            <div class="battery-bar" [ngStyle]="{'width' :  (battery*8/10)+'%', 'background-color' : battery>20 ? 'var(--color-green)' : 'var(--color-red)'}"></div>
        </div>
    </div>
    <div class="date-time">
        <div class="time">{{time}}</div>
        <div class="date">
            <div class="dateDay">{{dateDay}}</div>
            <div class="dateMonth">{{dateMonth}}</div>
            <div class="dateYear">{{dateYear}}</div>
        </div>
    </div>
    <div class="menu" [ngClass]="{'show-menu' : showMenu}">
        <div class="main-buttons">
            <div class="user" title="user">
                <img class="user-logo" src="./user.png" alt="user logo"/>
                <span class="user-info">
                    <p class="user-fullname">{{fullName}}</p>
                    <p class="user-occupation">{{occupation}}</p>
                </span>
            </div>
            <div class="power-buttons">
                <div class="power-off-button button" (click)="powerOff()" title="power off">
                    <img src="./poweroff.png" alt="power off button" class="poweroff-logo logo"/>
                </div>
                <div class="sleep-button button" (click)="sleepMode()" title="sleep mode">
                    <img src="./sleep.png" alt="sleep mode button" class="sleep-logo logo"/>
                </div>
            </div>
        </div>
        <div class="menu-items" #menuItemsManager></div>
    </div>
</div>

<div class="cover" [ngStyle]="{'opacity' : cover ? '1' : '0','scale' : cover ? '1' : '0', 'background-color' : shuttingDown ? 'var(--bg-color-1)' : 'var(--bg-color-3)', 'backdrop-filter' : shuttingDown ? '' : 'blur(10px)'}">
    <p class="info" *ngIf="shuttingDown">{{info}}</p>

    <div class="watch bg-watch" *ngIf="!shuttingDown" #bgWatch>
        <div class="hours"></div>
        <div class="minutes"></div>
        <div class="seconds"></div>


        <div class="one"></div>
        <div class="two"></div>
        <div class="three"></div>
        <div class="four"></div>
        <div class="five"></div>
        <div class="six"></div>
        <div class="seven"></div>
        <div class="eight"></div>
        <div class="nine"></div>
        <div class="ten"></div>
        <div class="eleven"></div>
        <div class="twelve"></div>


        <div class="wave-container">
            <svg class="wave wave1" viewBox="0 0 1440 320" preserveAspectRatio="none">
                <path fill="#FFD700" d="M0,160 C360,240 1080,80 1440,160 L1440,320 L0,320 Z"></path>
            </svg>

            <svg class="wave wave2" viewBox="0 0 1440 320" preserveAspectRatio="none">
                <path fill="#C0C0C0" d="M0,200 C360,100 1080,300 1440,200 L1440,320 L0,320 Z"></path>
            </svg>
        </div>
    </div>


    <div class="watch" *ngIf="!shuttingDown" #watch>
        <div class="hours"></div>
        <div class="minutes"></div>
        <div class="seconds"></div>


        <div class="one"></div>
        <div class="two"></div>
        <div class="three"></div>
        <div class="four"></div>
        <div class="five"></div>
        <div class="six"></div>
        <div class="seven"></div>
        <div class="eight"></div>
        <div class="nine"></div>
        <div class="ten"></div>
        <div class="eleven"></div>
        <div class="twelve"></div>

        <div class="wave-container">
            <svg class="wave wave1" viewBox="0 0 1440 320" preserveAspectRatio="none">
                <path fill="#FFD700" d="M0,160 C360,240 1080,80 1440,160 L1440,320 L0,320 Z"></path>
            </svg>

            <svg class="wave wave2" viewBox="0 0 1440 320" preserveAspectRatio="none">
                <path fill="#C0C0C0" d="M0,200 C360,100 1080,300 1440,200 L1440,320 L0,320 Z"></path>
            </svg>
        </div>
    </div>


    
</div>