.container{
    width: 100%;
    height: 100%;
    background-color: var(--bg-color-1);
    color: var(--color-1);

    .menu-button{
        cursor: pointer;
        width: 40px; height: 25px;
        position: absolute;
        top: 15px;
        left: 50%; 
        transform: translateX(-50%);

        .dash{
            position: absolute; top: 0; left: 0; transform: translateX(5%);
            transition: all .2s ease;
            width: 90%;
            height: 5px;
            border-top-left-radius: 2px; border-top-right-radius: 2px;
            background-color: var(--color-1);
            opacity: .9;

            &::after, &::before{
                content: "";
                transition: inherit;
                position: absolute;
                left: 0;
                width: 100%; height: 100%;
                border: inherit;
                background-color: inherit;
            }

            &::after{
                top: 10px;
                opacity: .7;
            }

            &::before{
                top: 20px;
                border-bottom-left-radius: 2px; border-bottom-right-radius: 2px;
                opacity: .5;
            }
        }

        &:hover{
            .dash, .dash::after, .dash::before{
                box-shadow: 0 0 4px var(--color-1);
            }
            
        }
    }

    .date-time{
        width: 100%;
        position: absolute;
        bottom: 10px;
        text-align: center;

        .time,.date{
            cursor: default;
            width: 100%;
            padding-bottom: 5px;
        }

        .time{
            padding-top: 5px;
            border-top: 1px solid var(--color-1);
            border-bottom: 1px solid var(--color-1);
        }

        .date{
            padding-top: 10px;
        }
    }

    .menu{
        position: absolute;
        left: 0;top: 0;
        transform: translateX(-105%) translateY(-10px);
        width: 270px;
        min-height: max-content;
        background-color: var(--bg-color-2);
        opacity: 0;
        z-index: -1;

        .main-buttons{
            background-color: var(--bg-color-1);
            width: 100%;
            height: 45px;
            position: relative;

            .user{
                cursor: default;
                position: absolute;
                top: 10%;
                left: 5px;
                height: 80%;
                min-width: max-content;

                &:hover{
                    opacity: .8;
                }

                .user-logo{
                    position: absolute;
                    left: 5px; top: 15%;
                    height: 70%;
                }

                .user-info{
                    position: absolute;
                    transform: translateX(35px);
                    width: max-content;
                    height: max-content;
                    font-family: sans-serif;

                    .user-fullname{
                        font-weight: bolder;
                        font-size: 1em;
                    }

                    .user-occupation{
                        font-size: .9em;
                        opacity: .8;
                    }
                }

                &:hover{
                    background-color: var(--bg-color-2);
                }
            }

            .power-buttons{
                position: absolute;
                right: 0; top: 0;
                height: 100%;
                min-width: max-content;
                display: flex;
                flex-direction: row;
                column-gap: 5px;
                flex-wrap: nowrap;
                padding-right: 10px;
                padding-left: 10px;
                border-left: 1px solid var(--color-1);

                .button{
                    cursor: pointer;
                    transition: opacity .2s linear;
                    padding: 2px;
                    margin-top: 7px;
                    height: 60%;
                    

                    .logo{
                        height: 100%;
                    }

                    &:hover{
                        opacity: .6;
                    }
                }

            }
        }

        .menu-items{
            min-height: calc( 30vh - 45px );
            transition: min-height .3s linear;

            .item{
                min-height: 25px;
                overflow: hidden;
                cursor: pointer;

                .item-name{
                    padding-top: 5px;
                    padding-left: 5px;
                    display: block;
                    min-height: 25px;
                    width: 100%;
                    position: relative;
                    border-bottom: 1px solid var(--color-1);

                    .reveal-hide-button{
                        position: absolute;
                        top: 5px;
                        right: 5px;
                    }

                    &:hover{
                        background-color: var(--color-2);
                    }
                }
                
                &:hover{
                    background-color: var(--color-2-light);
                }

                .sub-items-content{
                    max-height: 0;
                    transition: max-height .3s linear;
                }
            }
        }
    }

    .show-menu{
        transform: translateX(-105%) translateY(5px);
        opacity: 1;
        z-index: 999;
        transition: transform .3s linear, opacity .5s .1s linear;
    }
}