.overlay{
    position: fixed;
    z-index: 9999999;
    width: 100%; height: 100vh;

    .window{
        position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%);
        width: 300px; height: 150px;
        background-color: var(--color-silver);
        border-top: 5px solid var(--bg-color-1);
        overflow: hidden;


        .question{
            height: 50%; width: 100%; font-size: 1.2em;
            padding: 10px;
            position: relative;
            color: var(--color-1);

            &::after{
                content: '';
                width: 100%;
                height: 200%;
                position: absolute;
                top: -90%; left: 0;
                transform: rotateZ(5deg);
                border-radius: 30px;
                background-color: var(--bg-color-1);
                box-shadow: 0 0 20px 5px var(--bg-color-1);
                z-index: -1;
            }
        }
        
        .buttons{
            position: absolute; bottom: 10px; left: 0;
            width: 100%; padding: 0 10px;
            display: flex; flex-direction: row; justify-content: space-between;

            .answer{
                width: 20%; height: 30px; display: flex; justify-content: center; align-items: center;
                color: var(--bg-color-1); border-bottom: 2px solid var(--bg-color-1); font-weight: bolder;
                cursor: pointer;
                transition: .1s;

                &:hover{
                    color: var(--color-1);
                }
            }

            .yes:hover{
                background-color: var(--color-green);
            }

            .no:hover{
                background-color: var(--color-red);
            }
        }
    }
}