.folder{
    position: relative;
    width: 100%;
    height: 20px;
    padding: 2px;
    transition: background-color .1s , color .1s;
    

    &:hover{
        background-color: var(--bg-color-3);
        color: var(--color-1);
    }

    .show-sub-folders{
        position: absolute; right: 5px; top: 50%; transform: translateY(-50%); cursor: pointer;
    }

    .folder-name{
        width: max-content;
        cursor: pointer;
        font-weight: unset;
    }

    .selected{
        font-weight: bolder;
    }

    
}

.sub-folders{
    color: var(--bg-color-1);
    overflow: hidden;
}