/* You can add global styles to this file, and also import other style files */
:root{

    --bg-color-1 : #0e1111;
    --bg-color-2 : #343434;

    --color-1 : #fefbf1;
    --color-2 :#11244a;
    --color-3 : #caccce;

    --color-1-light : #fefbf139;
    --color-2-light : #11244a59;

    --color-1-lighter : #fefbf109;
    --color-2-lighter : #11244a19;

    --color-focused-app: #fefbf129;

}


*,*::after,*::before{
    user-select: none;
    margin: 0; padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body{
    overflow: hidden;
}