/* You can add global styles to this file, and also import other style files */
:root{

    --bg-color-1 : #0e1111;
    --bg-color-2 : #343434;
    --color-1 : #fefbf1;
    --color-2 :rgb(52, 139, 110);

}


*,*::after,*::before{
    margin: 0; padding: 0;
    box-sizing: border-box;
}

body{
    overflow: hidden;
}