/* You can add global styles to this file, and also import other style files */
:root{

    --bg-color-1 : #0e1111;
    --bg-color-2 : #0e111190;
    --bg-color-3 : #0e1111d0;

    --color-1 : #fefbf1;
    --color-2 :#006C67;
    --color-3 : #caccce;

    --color-1-light : #fefbf139;
    --color-2-light : #006C6759;

    --color-1-lighter : #fefbf109;
    --color-2-lighter : #006C6719;

    --color-focused-app: #fefbf129;

    --color-green: #3f663f;
    --color-red: #663f3f;
    --color-blue: #3f3f66;
    --color-yellow: #66663f;


    --color-gold: #FFD700;
    --color-silver: #C0C0C0;

    --color-night: #272757;
    --color-sunny: #ffef49;
    --color-rainy: #274f7e;
    --color-cloudy : #b8c2c9;

}


*,*::after,*::before{
    user-select: none;
    margin: 0; padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body{
    overflow: hidden;
}

div::-webkit-scrollbar-track {
    background-color: transparent;
}

div::-webkit-scrollbar {
    width: 5px;
    background-color: transparent;
}

div::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: var(--color-1);
}