.container{
    width: 100%; height: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    column-gap: 5px;
    row-gap: 5px;
    padding: 10px;

    .file{
        cursor: pointer;
        width: 90px; height: 140px;
        display: flex;
        flex-direction: column;
        row-gap: 10px;
        align-items: center;
        padding: 5px;

        .file-icon{
            height: 50%; width: 80%;
        }

        .company-name{
            font-size: .8em;
            text-align: center;
            width: 100%;
        }

        &:hover{
            background-color: var(--color-1-light);
        }
    }
}